[2022-06-02 07:30] abhisheks008 opened #1 "Fork the Repo 🍴"
Fork this main repository before contributing to it. Without forking the repo don't create the pull request.

[2022-06-02 07:32] abhisheks008 opened #2 "Contribute to this Repository 💡"
Contribute to this respository to shower your love towards this project and getting started with Open Source/Github.

[2022-06-02 07:32] abhisheks008 opened #3 "Star the Repository 🌟"
Consider starring this repository if you found this project helpful. And also share the repository with other contributors so that they can also get to know about it!

[2022-06-17 04:34] abhisheks008 opened #7 "Human Detection Project"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Human Detection Project</br>
:red_circle: **Aim** : The aim is to detect the human being using OpenCV with an accuracy over 90%.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/constantinwerner/human-detection-dataset</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and

[2022-06-17 04:38] abhisheks008 opened #8 "Detecting Faces"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Detecting Faces </br>
:red_circle: **Aim** : The aim is to create a deep learning project which will detect the faces using OpenCV and MTCNN approach with an accuracy over 85%.</br>
:red_circle: **Dataset** : https://www.kaggle.com/code/wittmannf/detecting-faces-using-opencv-mtcnn-no-internet/data</br>
:

[2022-06-17 04:40] abhisheks008 opened #9 "Handwriting Recognition Project"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Handwriting Recognition Project</br>
:red_circle: **Aim** : The aim is to create a deep learning project which will recognize the handwritings and detect them with an accuracy of more than 85%</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/landlord/handwriting-recognition</br>
:red_circl

[2022-06-17 04:41] abhisheks008 opened #10 "Object Tracking Project"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Object Tracking Project</br>
:red_circle: **Aim** : The aim is to create a deep learning project which will detect the objects and recognize them accordingly.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/kmader/videoobjecttracking</br>
:red_circle: **Approach** : Try to use 3-4 algorit

[2022-06-17 04:44] abhisheks008 opened #11 "Object Detection from a video"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Object Detection from a video</br>
:red_circle: **Aim** : Identify the objects from an input video with an accuracy more than 90%.</br>
:red_circle: **Dataset** : https://www.kaggle.com/code/shawon10/object-detection-from-a-traffic-video/data</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to

[2022-07-08 05:49] abhisheks008 opened #12 "Resume Screening Model"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Resume Screening Model</br>
:red_circle: **Aim** : Create a model, which will screen the resumes based on the ccriterias given.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/dhainjeamita/updatedresumedataset</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the mod

[2022-07-08 05:51] abhisheks008 opened #13 "Sentiment Analysis Model"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Sentiment Analysis Model</br>
:red_circle: **Aim** : Analyze the sentiments of the mass from the given dataset. </br>
:red_circle: **Dataset** : https://www.kaggle.com/columbine/imdb-dataset-sentiment-analysis-in-csv-format/download </br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement

[2022-07-12 17:51] vaniseth commented on #13
I would like to work on this. Please assign this to me.

[2022-07-12 19:21] janeka1122 commented on #11
Hi @abhisheks008, can you assign me this issue please. I am learning Deep Learning and Neural nets. I am fluent in Python.

[2022-07-13 02:57] abhisheks008 commented on #11
This issue will be assigned to you once the program starts. Otherwise your contribution will not be counted as a participation in SSOC 2022. See you in the program @janeka1122.

[2022-07-13 02:57] abhisheks008 commented on #13
This issue will be assigned to you once the program starts. Otherwise your contribution will not be counted as a participation in SSOC 2022. See you in the program @vaniseth.

[2022-07-14 04:17] abhisheks008 opened #14 "Flowers Classification"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Flowers Classification</br>
:red_circle: **Aim** : Build a model based on Tensorflow to classify the flowers from the given dataset.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/ryanholbrook/tensorflow-flowers</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the

[2022-07-14 04:18] abhisheks008 opened #15 "Fruits Classification"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Fruits Classification</br>
:red_circle: **Aim** : Create a DL model to classify the images of the fruits given in the dataset.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/moltean/fruits</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all

[2022-07-14 04:19] abhisheks008 opened #16 "Pneumonia Detection from X-Ray"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Pneumonia Detection from X-Ray</br>
:red_circle: **Aim** : The aim is to create a DL model which will detect the pneumonia from the given X-ray images.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/paultimothymooney/chest-xray-pneumonia</br>
:red_circle: **Approach** : Try to use 3-4 al

[2022-07-14 04:21] abhisheks008 opened #17 "Hands Gesture Recognition"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Hands Gesture recognition</br>
:red_circle: **Aim** : Create a model which will recognize the gestures made by the hands.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/kapitanov/hagrid</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the

[2022-07-14 04:22] abhisheks008 opened #18 "Human Action Recognition"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Human Action Recognition</br>
:red_circle: **Aim** : Create a DL model which will identify the actions made by the humans.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/meetnagadia/human-action-recognition-har-dataset</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to impleme

[2022-07-14 04:23] abhisheks008 opened #19 "Rice Image Classification"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Rice Image Classification</br>
:red_circle: **Aim** : Classify the images from the rice dataset using a DL approach.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/muratkokludataset/rice-image-dataset</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and

[2022-07-14 04:25] abhisheks008 opened #20 "Weed Crop Image Classification"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Weed Crop Image Classification/br>
:red_circle: **Aim** : Aim is to create a DL model which will identify the images from the dataset.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/vinayakshanawad/weedcrop-image-dataset</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to imple

[2022-07-14 04:26] abhisheks008 opened #21 "Drone Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Drone Detection</br>
:red_circle: **Aim** : Classify the drones in the given images using a DL method.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/muki2003/yolo-drone-detection-dataset</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all t

[2022-07-14 04:27] abhisheks008 opened #22 "Tiger Identification"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Tiger Identification</br>
:red_circle: **Aim** : Aim is to identify the tigers from the given dataset using a DL method/approach.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/quadeer15sh/amur-tiger-reidentification</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement

[2022-07-14 04:29] abhisheks008 opened #23 "Portuguese Meals Classification"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Portuguese Meals Classification</br>
:red_circle: **Aim** : Aim is to identify and recognize the meals images from the given dataset using a DL approach.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/catarinaantelo/portuguese-meals</br>
:red_circle: **Approach** : Try to use 3-4 algorit

[2022-07-14 04:31] abhisheks008 opened #24 "Face Mask Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Face Mask Detection</br>
:red_circle: **Aim** : Create a DL model which will detect the face masks using a DL approach.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/shiekhburhan/face-mask-dataset</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and com

[2022-07-14 04:32] abhisheks008 opened #25 "Durum Wheat Classification"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Durum Wheat Classification</br>
:red_circle: **Aim** : Create a DL model which will identify the proper images of the Durum wheat.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/muratkokludataset/durum-wheat-dataset</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement

[2022-07-14 04:34] abhisheks008 opened #26 "Urdu Text Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Urdu Text Detection</br>
:red_circle: **Aim** : Create DL model which will identify the texts written in Urdu.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/maryambiibii/urdu-artificial-text-text-detection</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the model

[2022-07-14 04:35] abhisheks008 opened #27 "HotDog Classification"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : HotDog Classification</br>
:red_circle: **Aim** : Aim is to identify the images which are hotdog or not a hotdog.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/thedatasith/hotdog-nothotdog</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all

[2022-07-14 04:36] abhisheks008 opened #28 "BP Monitor Reading"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : BP Monitor Reading</br>
:red_circle: **Aim** : Create a DL model, which will monitor the reading given in the images and idenitfy them.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/dataclusterlabs/bp-monitor-reading-medical-device-images</br>
:red_circle: **Approach** : Try to use 3-4

[2022-07-14 04:38] abhisheks008 opened #29 "TT Ball Position Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : TT Ball Position Detection</br>
:red_circle: **Aim** : Create a DL model which will detect the ball position in a TT table.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/ketzoomer/table-tennis-ball-position-detection-dataset</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to

[2022-07-14 04:39] abhisheks008 opened #30 "Selfie Recognition"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Selfie Recognition</br>
:red_circle: **Aim** : Create a DL model which will identify which one is selfie and which one is not.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/tapakah68/selfies-id-images-dataset</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the mo

[2022-07-14 04:40] abhisheks008 opened #31 "Car Object Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Car Object Detection</br>
:red_circle: **Aim** : Create a DL model which will detect the objects(cars) from the given dataset.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/dataclusterlabs/small-vehicle-images-far-vehicle-detection</br>
:red_circle: **Approach** : Try to use 3-4 algorit

[2022-07-14 04:43] abhisheks008 opened #32 "Dog Face Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Dog Face Detection</br>
:red_circle: **Aim** : Aim is to create a DL model which will identify the images of the faces of the dogs from the given dataset.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/wutheringwang/dog-face-detectionyolo-format</br>
:red_circle: **Approach** : Try to us

[2022-07-16 16:06] Daksh1603 commented on #10
Hello ! I would love to work on this project . Please assign this to me :)

[2022-07-16 16:59] abhisheks008 commented on #10
Thanks for commenting and showing interest in this issue @Daksh1603. Program will start from 1st of August, till then brush up your skills in DL.

[2022-07-27 14:04] abhisheks008 opened #33 "Amazon Reviews Sentiment Analysis"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Amazon Reviews Sentiment Analysis</br>
:red_circle: **Aim** : Analyze the sentiments from the given dataset of Amazon</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/tarkkaanko/amazon</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the al

[2022-07-27 14:07] abhisheks008 opened #35 "Yahoo Answers NLP"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Yahoo Answers NLP</br>
:red_circle: **Aim** : Create a deep learning model to analyse the Yahoo Answers.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/yacharki/yahoo-answers-10-categories-for-nlp-csv</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and

[2022-07-27 14:08] abhisheks008 opened #36 "Blood Cell Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Blood Cell Detection</br>
:red_circle: **Aim** : Create a model which will detect the blood cells.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/adhoppin/blood-cell-detection-datatset </br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the

[2022-07-27 14:10] abhisheks008 opened #37 "Shoes Classification"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Shoes Classification</br>
:red_circle: **Aim** : Create a model to identify the brands of the shoes.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/ifeanyinneji/nike-adidas-shoes-for-image-classification-dataset</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the

[2022-07-27 14:11] abhisheks008 opened #38 "Cityscapes Attributes Recognition"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Cityscapes Attributes Recognition</br>
:red_circle: **Aim** : Create a deep learning model to identify the attributes of the cityscapes.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/kareemmetwaly/cityscapes-attributes-recognition-car</br>
:red_circle: **Approach** : Try to use 3-4 algo

[2022-07-27 14:13] abhisheks008 opened #39 "Heat Sink Defect Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Heat Sink Defect Detection</br>
:red_circle: **Aim** : Create a deep learning model to identify the heat sink defect from the given dataset.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/kaifengyang/heat-sink-surface-defect-dataset</br>
:red_circle: **Approach** : Try to use 3-4 algorit

[2022-07-27 14:15] abhisheks008 opened #40 "CCTV Human Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : CCTV Human Detection</br>
:red_circle: **Aim** : Create a DL model which will detect the humans from the CCTV footage.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/jonathannield/cctv-human-pose-estimation-dataset</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement t

[2022-07-27 14:16] abhisheks008 opened #41 "Canola Diseases Prediction"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Canola Diseases Prediction</br>
:red_circle: **Aim** : Create a model which will predict the canola diseases from the dataset.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/gregsvein55/canola-diseases</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and

[2022-07-27 14:18] abhisheks008 opened #42 "Car Detection from Drones"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Car Detection from Drones</br>
:red_circle: **Aim** : Create a model which will identify cars from the drones footage.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/pear2jam/cars-drone-detection</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compa

[2022-07-27 14:20] abhisheks008 opened #43 "Indian Actors Recognition"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Indian Actors Recognition</br>
:red_circle: **Aim** : Create a model which will identify the images from the given dataset.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/iamsouravbanerjee/indian-actor-images-dataset</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement

[2022-07-27 14:21] abhisheks008 opened #44 "Indian Food Images Recognition"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Indian Food Images Recognition</br>
:red_circle: **Aim** : Create a model which will recognize the images from the given dataset of food items.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/iamsouravbanerjee/indian-food-images-dataset</br>
:red_circle: **Approach** : Try to use 3-4 algo

[2022-07-27 14:23] abhisheks008 opened #45 "James Webb Telescope Images Analysis"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : James Webb Telescope Images Analysis</br>
:red_circle: **Aim** : Analyze the recent images from the James Webb Telescope.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/goelyash/james-webb-telescope-images-original-size/code</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to i

[2022-07-27 14:25] abhisheks008 opened #46 "Indian Trucks Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Indian Trucks Detection</br>
:red_circle: **Aim** : Create a image classification model which will identify the images of the trucks.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/aneeshtickoo/indian-trucks</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the mode

[2022-08-01 04:27] SHAY2407 opened #47 "Issue Assignment : Handwriting Recognition Project"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Handwriting Recognition Project</br>
:red_circle: **Aim** : The aim is to create a deep learning project which will recognize the handwritings and detect them with an accuracy of more than 85%</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/landlord/handwriting-recognition</br>
:red_circl

[2022-08-01 04:33] abhisheks008 commented on #47
I have created an issue for this topic. Do check it out, and comment out there with all the necessary credentials. Please, do not create duplicate issues.

I'll start assigning the issues after the welcome call by the SSOC team.

@SHAY2407

[2022-08-01 04:33] #47 closed

[2022-08-01 07:15] SHAY2407 commented on #9
Full name : Yashwardhan Khanna
GitHub Profile Link : https://github.com/SHAY2407
Email ID : yashwardhan2407@gmail.com
Participant ID (if applicable):
Approach for this Project : I will first try to make the model with the help of Random Forest Classification Algorithm. If I get some time left, I will learn about SVM and will try to make it with the same.
What is your participant role? (Mention the

[2022-08-01 07:39] abhisheks008 commented on #9
Thanks for choosing **Deep Learning Simplified** for your contributions. Wait for the Inauguration Ceremony, which is going to happen by today, 6 PM. After that, I'll start accepting the comments and assign the issues.

Best wishes! ✨
@SHAY2407

[2022-08-01 17:03] janeka1122 commented on #7
Hi @abhisheks008, can you assign me this issue please. I am learning Deep Learning and Neural nets. I am fluent in Python.

Full name : Chinmay Harkawat
GitHub Profile Link : https://github.com/janeka1122
Email ID : chinmayharkawatcodes1122@gmail.com
Participant ID (if applicable) : None that I know of
Approach for this Project : Explore various algorithms and implement a Neural Net.
What is your

[2022-08-01 17:15] abhisheks008 commented on #7
Hey @janeka1122, thanks for showing interest in this project repo. I'll start assigning issues once all those formalities are done by the SSOC team. It's long a journey, don't worry about the deadline.

Best wishes 🚀

[2022-08-01 17:33] Rohith2202 commented on #45
Hi sir. I want to work on this issue
Discord Username:Rohith#2286
Ssoc participant

[2022-08-02 11:00] Rohith2202 commented on #45
Madineni Rohith
https://github.com/Rohith2202
20bcs081@iiitdwd.ac.in
Will try various ML models and pick the right and most accurate one for James Webb Space Telescope Image analysis
SSOC participant

[2022-08-02 11:12] ESHA1101 commented on #16
I am Esha and I would like to take up this issue
My GitHub: https://github.com/ESHA1101
Email ID: 20bcs045@iiitdwd.ac.in
Approach: this project is mainly based on image processing and knowledge on pneumonia and how it shows in x rays. I will formulate a few algorithms based on the latter and will check the accuracy using each algorithm. The model that gives the best accuracy will be chosen.
I am a

[2022-08-02 13:15] abhisheks008 commented on #45
We'll start the journey after completing those formalities. Till then, stay tuned with Deep Learning Simplified.

Thanks and regards.

[2022-08-02 13:15] abhisheks008 commented on #16
We'll start the journey after completing those formalities. Till then, stay tuned with Deep Learning Simplified.

Thanks and regards.

[2022-08-02 16:51] abhisheks008 opened #48 "Electron Microscopy Particle Segmentation"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Electron Microscopy Particle Segmentation</br>
:red_circle: **Aim** : Create a DL model, which will segment different particles.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/batuhanyil/electron-microscopy-particle-segmentation</br>
:red_circle: **Approach** : Try to use 3-4 algorithms

[2022-08-02 16:52] abhisheks008 opened #49 "Cervical Spine Fracture Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Cervical Spine Fracture Detection</br>
:red_circle: **Aim** : Create a prediction and detection model which will detect the fractures in the spine.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/jirkaborovec/cervical-spine-fracture-detection-npz-3d-volumes</br>
:red_circle: **Approach**

[2022-08-02 16:57] abhisheks008 opened #50 "Glass Bangle Defect Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** :  Glass Bangle Defect Detection</br>
:red_circle: **Aim** : Create DL models to identify the defects in the bangles.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/almique/glass-bangle-defect-detection-classification</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement

[2022-08-02 18:10] guptaaryan16 commented on #50
Hey this is Aryan Gupta,
GitHub Profile Link : https://github.com/guptaaryan16
Email ID : guptaaryan16@gmail.com
Participant ID (if applicable): Not available
Approach for this Project : I have been learning about Neural Networks and CNN architecture and will be using PyTorch for the implementation of the same. I relatively less experience in Deep learning so it may take some while to be implement

[2022-08-03 04:37] abhisheks008 commented on #50
That's a great approach @guptaaryan16. We will start working together once all the formalities are done by the SSOC team. Estimated starting date is Aug 3.

Best wishes ✨

[2022-08-03 11:43] guptaaryan16 commented on #50
Thanks Abhishek sir

[2022-08-03 13:53] tknishh commented on #33
Full name : Tanish Khandelwal
GitHub Profile Link : https://github.com/tknishh
Email ID : tanishkhandelwaltk012@gmail.com
Participant ID (if applicable): NA
Approach for this Project : I've already worked on Sentiment analysis with IMDb movie review dataset (https://github.com/tknishh/IMDb-Review-Analysis) and would really like to use recent algorithms to implement models on some this Amazon revie

[2022-08-03 13:56] abhisheks008 commented on #33
Hey @tknishh thanks for showing interest in this project repo. I'm just waiting for the formalities to be done by the SSOC team side, once it gets over we will start this journey.

Best wishes ✨

[2022-08-04 06:55] Aadi71 commented on #35
Full name: Aadi Jain
GitHub Profile Link: https://github.com/Aadi71
Email ID: jainaadi7102@gmail.com
What is your participant role? : SSOC

[2022-08-04 07:03] sankalp-srivastava commented on #35
Issue is assigned to you @Aadi71. Happy Coding 😄

[2022-08-04 07:17] CodeFlyAir commented on #13
I would like contribute on this issue. Please assign this to me.

[2022-08-04 07:18] abhisheks008 commented on #13
Issue assigned to you @CodeFlyAir

[2022-08-04 07:21] Nikita-Shrma commented on #33
Hey @abhisheks008 I want to contribute in this project.
Please allow me

[2022-08-04 07:27] 11Veeraj commented on #7
Hey @abhisheks008 can you assign me this issue? I'm from SSOC'22

[2022-08-04 07:28] ArthrowAbstract commented on #17
Full Name : Devanshu Sinha
GitHub Profile Link : https://github.com/ArthrowAbstract
Email ID : sinhadevanshu2002@gmail.com
What is your participant role? : Contributor in SSOC

[2022-08-04 07:29] LahariBoni commented on #17
Issue Assigned to you @ArthrowAbstract, Go ahead

[2022-08-04 07:32] 11Veeraj commented on #11
@abhisheks008 can you assign me this issue? I'm from SSOC'22

[2022-08-04 07:34] LahariBoni commented on #45
Assigned it to you @Rohith2202. Happy Contribution!

[2022-08-04 07:35] abhisheks008 commented on #33
Issue assigned to you @Nikita-Shrma

[2022-08-04 07:35] sid-im commented on #36
plz assign me this project @abhisheks008

[2022-08-04 07:37] LahariBoni commented on #36
Assigned it to you @sid-im! Go Ahead.

[2022-08-04 07:38] abhisheks008 commented on #36
Can you share me the approach you are going to take while solving the issue. And please mention the required credentials written in the issue. @sid-im

[2022-08-04 07:40] LahariBoni commented on #36
Yes @sid-im, It'd be great if you can kindly share your approach to work on this issue🙂

[2022-08-04 07:41] abhisheks008 commented on #11
@11Veeraj
:white_check_mark: **To be Mentioned while taking the issue :**
- Full name :
- GitHub Profile Link :
- Email ID :
- Participant ID (if applicable):
- Approach for this Project :
- What is your participant role? (Mention the Open Source program)

Mention the details first.

[2022-08-04 07:42] abhisheks008 commented on #7
@janeka1122 do you wanna work in this issue?

[2022-08-04 07:44] janeka1122 commented on #7
Hi, thanks for the mention. Thing is the saw the rule about solving an issue in 6-7 days and I have an exam on 7th (Sunday)this week.

So not sure if I'll be able to solve the issue on time.

[2022-08-04 07:44] omkar3602 commented on #44
I would like to work on this issue. I will be working on CNN models with different architectures. Also i will try to explore transfer learning (pre-trained models).

[2022-08-04 07:47] 11Veeraj commented on #11
Full name : Veeraj Goudar
GitHub Profile Link : https://github.com/11Veeraj
Email ID : veeraj.goudar@mitaoe.ac.in
Approach for this Project : Using Neural Network (Yolo or RVNN)
What is your participant role? SSOC (Social Summer of Code)

[2022-08-04 07:50] omkar3602 commented on #19
I would like to work on this issue. I will be using CNN models with different architectures. I will also be exploring transfer learning(pre-trained models).

[2022-08-04 07:57] LahariBoni commented on #19
Assigned it to you @omkar3602, Happy Contribution!

[2022-08-04 07:58] PrathmeshN99 commented on #46
Full name : Prathmesh Nagpure
GitHub Profile Link : www.github.com/PrathmeshN99
Email ID : prathmesh99.pn@gmail.com
Participant ID (if applicable):
Approach for this Project : I would like to work on this issue. This would help in employing various deep learning techniques and algorithms and create the best of this project.
What is your participant role? (Mention the Open Source program)

[2022-08-04 08:03] LahariBoni commented on #11
Assigned it to you @11Veeraj, Go Ahead.

[2022-08-04 08:05] LahariBoni commented on #46
Assigned it to you @PrathmeshN99. Please mention "SSOC" for the participant role.

[2022-08-04 08:09] LahariBoni commented on #50
@guptaaryan16, Would you like to work on this issue?

[2022-08-04 08:15] utkarsh-060 commented on #30
Full name- Utkarsh

Github -https://github.com/utkarsh-060

Email id -20bds060@iiitdwd.ac.in

Approach : The project mainly requires image processing on which i have done some work before . I will formulate some algorithms required for this project and would use the one with most accuracy.

I am a participant of ssoc 2022.

[2022-08-04 08:17] LahariBoni commented on #30
Assigned it to you @utkarsh-060. Happy Contribution!

[2022-08-04 08:35] dungeonmastae commented on #24
Hi @abhisheks008, can you assign me this issue please. I have done some previous projects using OpenCv.

Full name : Arpit Dutt Dixit
GitHub Profile Link : https://github.com/dungeonmastae
Email ID : arpitdixitc23@gmail.com
Participant ID (if applicable) : None that I know of
Approach for this Project : Explore various algorithms and implement a Neural Net.
What is your participant role? SSOC (Soc

[2022-08-04 08:43] abhisheks008 commented on #24
Issue assigned to you @dungeonmastae

[2022-08-04 09:54] fykaa commented on #33
Full name : Fyka Ansari
GitHub Profile Link : https://github.com/fykaa
Email ID : faeka6@gmail.com
Participant ID (if applicable): na
Approach for this Project : I'll use a variety of DL techniques and try to do my best. I have little experience with Deep Learning, so it may take some time to implement. Essentially, I want to use a library for sentiment analysis and perform exploratory data analys

[2022-08-04 10:06] prajwal-144 commented on #12
Name: Prajwal Uday
github link : https://github.com/prajwal-144
email : uprajwal20@gmail.com
Approach : Solve using NLP and NLU to get the final classified data.
Participant Role: SSOC

[2022-08-04 10:08] sethu400 commented on #49
Hello👋, This is Sethu Priya

Full name: Sethu Priya J
GitHub Profile Link: https://github.com/sethu400
Email ID: sethupriya076@gmail.com
Participant ID (if applicable): No
Approach for this Project: I am new to this domain, so it is a good time to understand Deep Learning and gain complete knowledge through the implementation.
What is your participant role? Social Summer of Code

[2022-08-04 10:09] LahariBoni commented on #12
Assigned it to you @prajwal-144. Go Ahead

[2022-08-04 10:15] Rushijaviya commented on #49
Issue assigned to you @sethu400

[2022-08-04 10:16] sethu400 commented on #49
Okay!

[2022-08-04 10:22] abhisheks008 opened #51 "Facial Emotion Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Facial Emotion Detection</br>
:red_circle: **Aim** : Create a DL model which will detect the emotions from the facial activities.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/mhantor/facial-expression</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models an

[2022-08-04 10:23] abhisheks008 opened #52 "Lending Club Loan Analysis"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Lending Club Loan Analysis</br>
:red_circle: **Aim** : Analyse the aspects of the lending clubs from different parameters.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/gabrielsantello/lending-club-loan-preprocessed-dataset</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to i

[2022-08-04 10:27] abhisheks008 opened #53 "Cyclone Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Cyclone Detection</br>
:red_circle: **Aim** : Create a DL model which will identify the cyclones from the given images.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/sshubam/insat3d-infrared-raw-cyclone-images-20132021</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implem

[2022-08-04 10:28] abhisheks008 opened #54 "Fraudulent Transactions Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Fraudulent Transactions Detection</br>
:red_circle: **Aim** : Develop a model for predicting fraudulent transactions for a financial company and use insights from the model to develop an actionable plan.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/miznaaroob/fraudulent-transactions-da

[2022-08-04 10:30] abhisheks008 opened #55 "Anti Spoofing Project"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Anti Spoofing Project</br>
:red_circle: **Aim** : Create a DL model which will identify the real image, replay, layout and cut out.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/tapakah68/anti-spoofing</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models an

[2022-08-04 10:31] abhisheks008 opened #56 "Pseudo Papilledema Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Pseudo Papilledema Detection</br>
:red_circle: **Aim** : Create a DL model which will identify the Pseudo Papilledema from the given set of input images.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/shashwatwork/identification-of-pseudopapilledema</br>
:red_circle: **Approach** : Try t

[2022-08-04 10:32] tejas910 commented on #31
hey, am i assigned to this issue?

[2022-08-04 10:33] Rushijaviya commented on #31
No, not yet.

[2022-08-04 10:36] abhisheks008 opened #57 "Hand Gloves Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Hand Gloves Detection</br>
:red_circle: **Aim** : Create a DL model which will detect the gloves.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/dataclusterlabs/gloves-dataset-covid-safety-wear</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare

[2022-08-04 10:37] tejas910 commented on #31
Name: Tejas Patil
Github link:- https://github.com/tejas910
Email Id: tppatil910@gmail.com
Approach: To separates car from all other vehicle
role: contributor

[2022-08-04 10:38] abhisheks008 opened #58 "Heartbeat Classification using ECG"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Heartbeat Classification using ECG</br>
:red_circle: **Aim** : Analyse the heartbeats from the given set of ECGs.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/shayanfazeli/heartbeat</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the a

[2022-08-04 10:39] Rushijaviya commented on #31
Assigned to @tejas910. Happy Contibution!

[2022-08-04 10:39] abhisheks008 opened #59 "Alzheimers Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Alzheimers Detection</br>
:red_circle: **Aim** : Create a image processing model using the DL methods to idenitfy the Alzheimer's affected patient from the MRI images.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/tourist55/alzheimers-dataset-4-class-of-images</br>
:red_circle: **Approa

[2022-08-04 10:42] tejas910 commented on #31
Thanks

[2022-08-04 10:42] abhisheks008 opened #60 "Monkeypox Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Monkeypox Detection</br>
:red_circle: **Aim** : Create a image processing model using the DL methods by which we can identify the images which are affected by Monkeypox.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/arafathussain/monkeypox-skin-image-dataset-2022</br>
:red_circle: **App

[2022-08-04 10:50] tknishh commented on #54
Full name : Tanish Khandelwal
GitHub Profile Link : https://github.com/tknishh
Email ID : [tanishkhandelwaltk012@gmail.com](mailto:tanishkhandelwaltk012@gmail.com)
Hey @abhisheks008 , I would really like to contribute on this project.
Please allow me.

[2022-08-04 10:57] Rushijaviya commented on #54
Assigned to you @tknishh. Go ahead.

[2022-08-04 11:10] fykaa commented on #51
Full name : Fyka Ansari
GitHub Profile Link : https://github.com/fykaa
Email ID : faeka6@gmail.com
Participant ID (if applicable): na
Approach for this Project : I'll try using a variety of DL techniques and try to do my best. I have little experience with Deep Learning, so it may take some time to implement. Essentially, will use tensorflow and connect with peers to learn. Hopefully, my interest

[2022-08-04 11:19] LahariBoni commented on #51
Hello @fykaa, assigned this issue to you. Experiment with different approaches and include your insights. Hope you learn as much as possible while working on this issue. Happy contribution😊🙌🏻

[2022-08-04 12:03] Rushijaviya commented on #10
@Daksh1603 you want to work on this?

[2022-08-04 12:09] KushagraTomar commented on #58
Heartbeat Classification using ECG #58
Full name : Kushagra Tomar
GitHub Profile Link :  https://github.com/KushagraTomar
Email ID :  01fe20bcs063@kletech.ac.in
Approach for this Project : Thinking of using CNN based model using TensorFlow

[2022-08-04 12:11] Rushijaviya commented on #58
Assigned to @KushagraTomar. Happy contributing.

[2022-08-04 12:51] srini047 commented on #59
Hey, @abhisheks008 I would like to work on this issue.

**Full Name:** Sriniketh J
**Github Profile Link:** [srini047](https://github.com/srini047)
**Email ID:** srinikethcr7@gmail.com
**Approach:** Build a model on the dataset and then predict the class of the image provided as (1/4) classes.
**Participant Role:** SSOC-2022

[2022-08-04 12:58] guptaaryan16 commented on #50
Yes I want to work on this

[2022-08-04 12:59] sankalp-srivastava commented on #59
@srini047 issue assigned to you. Play around different algorithms and hyperparameter tuning. If you need any help, feel free to reach out.

[2022-08-04 13:01] LahariBoni commented on #50
Assigned to you @guptaaryan16, go ahead😊

[2022-08-04 13:09] joyracheal commented on #37
Full name : Emiaka Joy Racheal
GitHub Profile Link :www.github.com/joyracheal
Email ID : rachealjoy804@gmail.com
Participant ID (if applicable): no
Approach for this Project : I am new to deep learning this is an opportunity to learn about deep learning and contribute to deep learning open source
What is your participant role? Social summer of code

[2022-08-04 13:13] abhisheks008 commented on #37
Issue assigned to you @joyracheal. keep learning 🚀

[2022-08-04 13:33] falconcode16 commented on #57
Full name : Rohit Patil
GitHub Profile Link :https://github.com/falconcode16
Email ID : rohitpatil1625@gmail.com
Participant ID (if applicable):
Approach for this Project : Initial hand detection through OpenCV and later layering of gloves
What is your participant role? (Mention the Open Source program): Contributor at SSOC

[2022-08-04 13:35] srini047 commented on #59
Sure.

[2022-08-04 13:38] LahariBoni commented on #57
Assigned to you @falconcode16. Go ahead🙂

[2022-08-04 13:55] sid6602 commented on #18
Name: Siddhi Mankar
Github link:- https://github.com/sid6602
Email Id: siddhi.mankar@mitaoe.ac.in
Approach: To detect different actions of human being
role: contributor

[2022-08-04 14:03] sankalp-srivastava commented on #18
@sid6602 Issue assigned to you. Try experimenting with different dl algorithms. See what gives a better result.

[2022-08-04 15:47] AbhishekRP2002 commented on #8
Hey there ! Can I work on this issue ? I would like to contribute to this .

[2022-08-04 15:55] AbhishekRP2002 opened #61 "Phishing Website Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** :  Phishing Website Detection</br>
:red_circle: **Aim** : The candidates have to read the data and create a model baased on the data analysis to identify if the website is legitimate or a phishing . The Result will be detrmined by the two values [-1,1], where 1 represent Legitimate website and -1 represnet

[2022-08-04 15:55] AbhishekRP2002 commented on #61
I would like to work on this .

[2022-08-04 16:19] shwetmala55 commented on #14
Full name :Shwetmala Jha
GitHub Profile Link : https://github.com/shwetmala55
Email ID : shwetmala02@gmail.com
Approach for this Project :classification of flowers
What is your participant role?-contributor ,SSOC-2022

[2022-08-04 16:23] abhisheks008 commented on #61
Okay go for it. @AbhishekRP2002

[2022-08-04 16:25] abhisheks008 commented on #14
Can you elaborate your deep learning approaches? @shwetmala55

[2022-08-04 16:50] 072arushi commented on #14
@shwetmala55 you have been assigned this issue. All the best.

[2022-08-04 16:51] shwetmala55 commented on #14
will use different method to train the model and compare their accuracy, I recently started with deep learning so intend to learn while contributing.

[2022-08-04 16:56] shwetmala55 commented on #14
Thank you!

[2022-08-04 17:15] 123Vasu commented on #52
Please Assign this task to me .

[2022-08-04 17:15] 123Vasu commented on #52
Name : Vasu Arora

[2022-08-04 17:16] abhisheks008 commented on #52
✅ To be Mentioned while taking the issue :

Full name :
GitHub Profile Link :
Email ID :
Participant ID (if applicable):
Approach for this Project :
What is your participant role? (Mention the Open Source program)

@123Vasu

[2022-08-04 17:16] Rushijaviya commented on #52
Please follow the format mentioned.

[2022-08-04 17:22] 123Vasu commented on #52
Full Name : Vasu Arora
GitHub Profile Link : https://github.com/123Vasu
Email Id : shrisw2002@gmail.com
Approach for this Project :  I will use a variety of Deep learning and Machine Learning models and try to do my best.
What is your participant role? SSOC Open Source program
Please Assign this task to me .

[2022-08-04 17:26] 072arushi commented on #52
@123Vasu you have been assigned the issue. All the best.

[2022-08-04 17:31] 123Vasu commented on #52
Thank You

[2022-08-04 19:39] AbhishekRP2002 commented on #8
Full name : Abhishek Ranjan Prusty
GitHub Profile Link : https://github.com/AbhishekRP2002
Email ID : aviranjan444@gmail.com
Participant ID (if applicable):
Approach for this Project :  This model that we will use for Face detection will be  Multi-task Cascaded Convolutional Networks (MTCNN), which is essentially several convolutional networks strung together that give out several pieces of inform

[2022-08-05 03:48] Sahana915 commented on #8
Issue no: #8 Detecting Faces
Full Name : Sahana B Kanteppagoudra
Github profile link: https://github.com/Sahana915
Participation role : SSOC 2022
Approach: I will try out by using variety of DL algorithms like Haar Cascade or I'll go by using HOG based detector in dlib .

[2022-08-05 03:57] Rushijaviya commented on #8
Assigned to @AbhishekRP2002. @Sahana915, you can choose other issues; we assign issues based on FCFS.

[2022-08-05 04:06] abhisheks008 commented on #8
I am sorry to say that @AbhishekRP2002 has already assigned an issue, complete that one first. This issue is assigned to @Sahana915.

@AbhishekRP2002 Do not comment out in other issues while you have already assigned to an issue. Finish that first, then take other issues.

[2022-08-05 04:24] pandey-ankit-22 commented on #53
Full name : Ankit Pandey
GitHub Profile Link : https://github.com/pandey-ankit-22
Email ID : pandeyankit222003@gmail.com
Approach : I will use variety of Deep learning algorithms to predict the desired outcome.
Participation Role : Contributor (SSOC)
Please assign me this task.

[2022-08-05 04:25] abhisheks008 commented on #53
Issue assigned to you @pandey-ankit-22

[2022-08-05 04:39] abhisheks008 opened #62 "Ship Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Ship Detection</br>
:red_circle: **Aim** : Create a DL model which will identify the ships.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/arpitjain007/game-of-deep-learning-ship-datasets</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all t

[2022-08-05 04:40] abhisheks008 opened #63 "HackerEarth Holiday Session Challenge"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : HackerEarth Holiday Session Challenge</br>
:red_circle: **Aim** : Your task is to create a solution using deep learning to discern whether a post is holiday-related in an effort to better monetize the platform.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/oossiiris/hackerearth-deep-lea

[2022-08-05 04:42] abhisheks008 opened #64 "Snake Breed Identification"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Snake Breed Identification</br>
:red_circle: **Aim** : You have been hired as a Deep Learning engineer to create a sophisticated model that can detect the breed of a snake from its image.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/oossiiris/hackerearth-deep-learning-identify-the-snak

[2022-08-05 04:43] abhisheks008 opened #65 "Driving Behavior Identification"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Driving Behavior Identification</br>
:red_circle: **Aim** : Using Deep Learning And Machine Learning To Predict Driving Behavior</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/outofskills/driving-behavior</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models

[2022-08-05 04:45] abhisheks008 opened #66 "Credit Card Fraud Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Credit Card Fraud Detection</br>
:red_circle: **Aim** : Anonymized credit card transactions labeled as fraudulent or genuine</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/mlg-ulb/creditcardfraud</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compa

[2022-08-05 04:46] abhisheks008 opened #67 "Meat Quality Assessment"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Meat Quality Assessment</br>
:red_circle: **Aim** : Meat quality assessment based on deep learning</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/crowww/meat-quality-assessment-based-on-deep-learning</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and c

[2022-08-05 04:47] abhisheks008 opened #68 "WCE Curated Colon Disease Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : WCE Curated Colon Disease Detection</br>
:red_circle: **Aim** : Create a image processing model using DL approaches which will detect the images of the diseased parts.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/francismon/curated-colon-dataset-for-deep-learning</br>
:red_circle: **Ap

[2022-08-05 04:48] abhisheks008 opened #69 "Grapevine Leaves Image Identification"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Grapevine Leaves Image Identification</br>
:red_circle: **Aim** : Create a DL model which will identify Ak, Ala Idris, Büzgülü, Dimnit and Nazli Grapevine Leaves Images.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/muratkokludataset/grapevine-leaves-image-dataset</br>
:red_circle: **Ap

[2022-08-05 04:50] abhisheks008 opened #70 "Wine Reviews Classification using Deep Learning"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Wine Reviews Classification using Deep Learning</br>
:red_circle: **Aim** : Create a analyse based project which will classify the quality of the wine.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/zynicide/wine-reviews</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to imple

[2022-08-05 04:51] abhisheks008 opened #71 "HackerEarth Keep Babies Safe Project"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : HackerEarth Keep Babies Safe Project</br>
:red_circle: **Aim** : our task, as a Machine Learning expert, is to build a Deep Learning model that will tag each image with the extracted product types and brand names of these products. In case there is no brand name mentioned on a product, the model should t

[2022-08-05 04:54] abhisheks008 opened #72 "Quality Prediction in a Mining Process"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Quality Prediction in a Mining Process</br>
:red_circle: **Aim** : Explore real industrial data and help manufacturing plants to be more efficient</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/edumagalhaes/quality-prediction-in-a-mining-process</br>
:red_circle: **Approach** : Try to us

[2022-08-05 04:56] abhisheks008 opened #73 "Dance Form Classification"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Dance Form Classification</br>
:red_circle: **Aim** : Create a DL model which will predict the dance forms.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/singhuday/identifythedanceform</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the

[2022-08-05 04:58] abhisheks008 opened #74 "Parkinsons Vision Based Pose Estimation"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Parkinsons Vision Based Pose Estimation</br>
:red_circle: **Aim** : The goal of this project was to use features derived from videos of Parkinson's assessment to predict the severity of parkinsonism and dyskinesia based on clinical rating scales.</br>
:red_circle: **Dataset** : https://www.kaggle.com/dat

[2022-08-05 04:58] AKSHAYRAOCH commented on #60
@abhisheks008 I would like to work on this issue
Full name: Chennamaneni Akshay Rao
GitHub Profile Link:https://github.com/AKSHAYRAOCH
Email ID:chakshayrao@gmail.com
Participant ID (if applicable):
**Approach for this Project**: I will try using CNN and classifications algorithms like decision trees or random forest and SVM.
What is your participant role?: contributor

[2022-08-05 04:59] abhisheks008 opened #75 "Weeds Classification"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Weeds Classification</br>
:red_circle: **Aim** : An image processing model to identify the different breeds of weeds.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/imsparsh/deepweeds</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the a

[2022-08-05 05:01] abhisheks008 opened #76 "SARS COV 2 CT Scan Classification"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : SARS COV 2 CT Scan Classification</br>
:red_circle: **Aim** : An image processing model to identify the images of SARS COV 2 affected patients.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/plameneduardo/sarscov2-ctscan-dataset</br>
:red_circle: **Approach** : Try to use 3-4 algorithms

[2022-08-05 05:04] abhisheks008 commented on #60
It's an image processing kind of project, you have been given a set of images as per the dataset, and you need to detect the diseased one from those. I think you need to think about the deep learning and neural networks oriented approach @AKSHAYRAOCH

[2022-08-05 05:08] abhisheks008 opened #77 "Brain Tumor Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Brain Tumor Detection</br>
:red_circle: **Aim** : Create a DL model which will detect the brain tumors.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/ahmedhamada0/brain-tumor-detection</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the

[2022-08-05 05:20] abhisheks008 commented on #60
Issue assigned to you @AKSHAYRAOCH

[2022-08-05 06:28] SunitTrivedi commented on #77
Hey, @abhisheks008 I would like to work on this issue.

Full name : Sunit Trivedi
GitHub Profile Link : https://github.com/SunitTrivedi
Email ID : trivedi.sunit@mitaoe.ac.in / sunittrivedi23@gmail.com
Approach for this Project : Using Convolutional Neural Network and and Pytorch Deep Learning Framework.
Participant role : SSOC 2022

[2022-08-05 06:59] LahariBoni commented on #77
Assigned it to you @SunitTrivedi. Go Ahead.

[2022-08-05 08:57] RitoDas1923 commented on #66
Full Name : Ritabrata Das
GitHub Profile Link : https://github.com/RitoDas1923
Email ID : ritodas03@gmail.com
Participant ID : N/A
Approach :  I will use a variety of Deep Learning Models like ANN and LSTM RNN after doing EDA and preprocessing
Participant Role : Contributor(SSOC)
Please assign me this issue.

[2022-08-05 09:08] abhisheks008 commented on #66
Issue assigned to you @RitoDas1923

[2022-08-05 11:55] Vikalp981 commented on #27
Hey, @abhisheks008, I would like to work on this issue.

Full name: Vikalp Kumar Tripathi
GitHub Profile Link: https://github.com/Vikalp981
Email ID: tripathivikalp862@gmail.com
Approach for this Project: First, I am thinking of using a Convolutional Neural Network as a direct way of doing it, and then another approach I will use to solve this will be classifying it using transfer learning. In ano

[2022-08-05 12:44] LahariBoni commented on #27
Assigned it to you @Vikalp981, your approach sounds great. Go ahead.

[2022-08-05 16:44] vryan-06 commented on #15
Hey @abhisheks008, I'd like to try and solve this.

**Full name :** Valiaparambil Ryan Taffy
**GitHub Profile Link :** https://github.com/vryan-06
**Email ID :** ryan19vt@gmail.com
**Approach for this Project :** Would initially try with CNN and explore more. (Suggestions if any would be helpful)
**Participant role :** SSOC - 2022

[2022-08-05 17:01] abhisheks008 commented on #15
Issue assigned to you @vryan-06

[2022-08-06 07:55] KushagraTomar commented on #58
I'm not able to push the dataset in the repo it says size exceed 100mb limit
dataset size is approx 400mb what should i do

[2022-08-06 07:56] abhisheks008 commented on #58
You can add the link of the dataset in the `Dataset/README.md` file, stating that, you have used the dataset from this source.
@KushagraTomar

[2022-08-06 11:10] shubhangsrivastav commented on #64
Full Name : Shubhang Srivastav
GitHub Profile Link : https://github.com/shubhangsrivastav
Email ID : shubhang952002@gmail.com
Participant ID : N/A
Approach : I will use a custom CNN model as well as pre trained models after image augmentation and preprocessing to predict the output.
Participant Role : Contributor(SSOC)
Please assign me this issue.

[2022-08-06 11:20] LahariBoni commented on #64
Assigned to @shubhangsrivastav, go ahead🚀

[2022-08-06 12:24] 072arushi commented on #60
@AKSHAYRAOCH You have been unassigned.

[2022-08-06 12:56] taruarora commented on #75
I would like to work on this issue

[2022-08-06 13:25] abhisheks008 commented on #75
✅ To be Mentioned while taking the issue :

Full name :
GitHub Profile Link :
Email ID :
Participant ID (if applicable):
Approach for this Project :
What is your participant role? (Mention the Open Source program)

Please provide the necessary details
@taruarora

[2022-08-06 15:22] sristis0202 commented on #73
I am interested in contributing to this issue

[2022-08-06 15:23] sristis0202 commented on #73
Issue No: #73 Dance Form Classification
Full Name: Sristi Sharma
Github Profile Link: https://github.com/sristis0202
Email ID: 2019sristi.sharma@ves.ac.in
Approach: I will use apt DL Algorithms, experiment with GANs to have the best possible accuracy
Participant Role : Contributor(SSOC)

[2022-08-06 15:24] 072arushi commented on #73
@sristis0202 you have been assigned the issue. All the best.

[2022-08-06 15:58] Sksiushshsu commented on #62
Issue no: #62 Ship Detection
Full Name : Rohit Shripad Salunke
Github profile link: https://github.com/Sksiushshsu

Participation role : SSOC 2022
Approach: I will use CNN model to solve this!

[2022-08-06 15:58] sid-im commented on #36
Full name : Siddarth Akkatangerhal
GitHub Profile Link :  https://github.com/sid-im
Email ID : siddartha2510@gmail.com
Participant ID (if applicable):
Approach for this Project :
i will use TensorFlow/Keras convolutional neural network to make our predictions using given data set.

[2022-08-06 16:20] abhisheks008 commented on #62
Issue assigned to you @Sksiushshsu

[2022-08-07 03:01] taruarora commented on #75
Issue#75
Weeds classification
Name: Taru Arora
Email id: taruarora2605@gmail.com
GitHub : https://GitHub.com/taruarora
EMail id : taruarora2605@gmail.com
Approach :using CNN

[2022-08-07 03:51] abhisheks008 commented on #75
Try to implement more neural network models, anyways issue assigned to you @taruarora

[2022-08-08 14:41] KushagraTomar commented on #58
Hey,
I have completed the work. Have a look at it.
https://github.com/KushagraTomar/Heartbeat-Classification-using-ECG

[2022-08-08 15:20] abhisheks008 commented on #58
You have not pushed a pull request. You have added the project in your GitHub profile, you have to fork the repo and push the files there. After that you need to create a PR.

About your project, it looks pretty good. But in the jupyter notebook file the plots are not visible and the cells are not showing the outputs. Please take a look at them, it may be a glitch.

@KushagraTomar

[2022-08-08 15:37] KushagraTomar commented on #58
This is new to me... Need ur help

On Mon, Aug 8, 2022, 20:50 Abhishek Sharma ***@***.***> wrote:

[2022-08-09 06:07] #58 closed

[2022-08-09 06:46] KushagraTomar commented on #76
SARS COV 2 CT Scan Classification #76
pls assign this to me

[2022-08-09 06:50] abhisheks008 commented on #76
Can you explain your approach please @KushagraTomar

[2022-08-09 07:03] KushagraTomar commented on #76
tBasic Idea: thinking of using a predefined model like DenseNet or vgg16 if the model shows decent accuracy else I will need to create a CNN model  from scratch that performs well

https://github.com/KushagraTomar

[2022-08-09 10:33] Uttkarsh09 opened #79 "Blood Disease Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Blood Cell Image Classification</br>
:red_circle: **Aim** : To create a DL model which will predict the type of blood disease</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/paultimothymooney/blood-cells</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models an

[2022-08-09 10:37] Uttkarsh09 commented on #79
Hey, @abhisheks008 I would like to work on this issue.

**Full name** : Uttkarsh Patel
**GitHub Profile Link** : https://github.com/Uttkarsh09
**Email ID** : [uttkarshpatel9@gmail.com](mailto:uttkarshpatel9@gmail.com)
**Approach for this Project** : Try to use CNN model with various optimising algorithms and compare their respective accuracy.
**Participant role** : SSOC 2022

[2022-08-09 10:40] Uttkarsh09 commented on #79
Hey @abhisheks008, I'd like to try and solve this.

**Full name** : Uttkarsh Patel
**GitHub Profile Link** : https://github.com/Uttkarsh09
**Email ID** : [uttkarshpatel9@gmail.com](mailto:uttkarshpatel9@gmail.com)
**Approach for this Project** : Would come up with a CNN model and use different optimises and compare their accuracy.
**Participant role** : SSOC - 2022

[2022-08-09 10:51] abhisheks008 commented on #79
Okay issue assigned to you @Uttkarsh09

[2022-08-09 14:04] KushagraTomar commented on #76
???

[2022-08-09 14:16] abhisheks008 commented on #76
Sorry for the inconvenience caused, @KushagraTomar issue assigned to you. You can start working on it.

Best wishes 🚀

[2022-08-09 17:37] kshitij192 commented on #40
Kshitij Kumar
Github link-https://github.com/kshitij192
Email- kshitijayushk192@gmail.com
Participant id- None
Approach- Using CNN or Yolov4 for human detection

[2022-08-10 14:25] abhisheks008 commented on #40
Issue assigned to you @kshitij192

[2022-08-10 14:29] #19 closed

[2022-08-10 15:12] omkar3602 commented on #60
Full name: Omkar Jahagirdar
Github Profile Link: https://github.com/omkar3602
Email ID: omkar3602@gmail.com
Approach: I would like to work on this issue. I will be using CNN models with different architectures. I will also be exploring transfer learning(pre-trained models) if i don't get a good accuracy from CNN models.
Participant role: SSOC

[2022-08-11 04:25] abhisheks008 commented on #60
Issue assigned to you @omkar3602

[2022-08-11 08:46] uuuuju commented on #70
Hey, @abhisheks008   I would like to work on this issue.

Full name : Janvi Umendra
GitHub Profile Link: https://github.com/uuuuju/
Email ID: janvi.umendra31@gmail.com
Participant ID (if applicable): NA
Approach for this Project: EDA followed by KNN and other models
What is your participant role? SSOC 2022

[2022-08-11 12:37] #27 closed

[2022-08-11 15:25] abhishak3 commented on #26
I would like to take up this issue!

[2022-08-11 15:40] Vikalp981 commented on #67
Hey @abhisheks008. Looking to contribute to this issue.

Full Name: Vikalp Kumar Tripathi
Github Profile Link: https://github.com/Vikalp981
Email ID: tripathivikalp862@gmail.com
Approach: First, I will use simple CNN, then I will use Pytorch image models for better accuracy, and at last will implement transfer learning using various models like InceptionV3, DensNet, and MobileNetV2 and compare the

[2022-08-11 15:54] abhisheks008 commented on #26
Can you mention all the details please @abhishak3

[2022-08-11 15:54] abhisheks008 commented on #67
Issue assigned to you @Vikalp981

[2022-08-11 15:55] abhisheks008 commented on #70
Issue assigned to you @uuuuju

[2022-08-11 15:58] abhishak3 commented on #26
yeah sure.
[code]

[2022-08-11 16:07] abhisheks008 commented on #26
Issue assigned to you @abhishak3

[2022-08-12 11:10] sid6602 commented on #18
Thank you @sankalp-srivastava

[2022-08-12 12:48] abhisheks008 commented on #65
Please share the details mentioned in the issue template @pranav-bot

[2022-08-14 12:05] abhisheks008 commented on #77
@SunitTrivedi updates please.

[2022-08-14 12:06] abhisheks008 commented on #73
@sristis0202 updates please.

[2022-08-14 12:06] abhisheks008 commented on #66
@RitoDas1923 updates please.

[2022-08-14 12:07] abhisheks008 commented on #64
@shubhangsrivastav updates please.

[2022-08-14 12:07] abhisheks008 commented on #62
@Sksiushshsu updates please.

[2022-08-14 12:08] abhisheks008 commented on #61
@AbhishekRP2002 updates please.

[2022-08-14 12:08] abhisheks008 commented on #59
@srini047 updates please.

[2022-08-14 12:08] abhisheks008 commented on #57
@falconcode16 updates please.

[2022-08-14 12:09] abhisheks008 commented on #54
@tknishh updates please.

[2022-08-14 12:09] abhisheks008 commented on #53
@pandey-ankit-22 updates please.

[2022-08-14 12:09] abhisheks008 commented on #52
@123Vasu updates please.

[2022-08-14 12:10] abhisheks008 commented on #51
@fykaa updates please.

[2022-08-14 12:10] abhisheks008 commented on #50
@guptaaryan16 updates please.

[2022-08-14 12:10] abhisheks008 commented on #49
@sethu400 updates please.

[2022-08-14 12:11] abhisheks008 commented on #46
@PrathmeshN99 updates please.

[2022-08-14 12:11] abhisheks008 commented on #45
@Rohith2202 updates please.

[2022-08-14 12:12] abhisheks008 commented on #35
@Aadi71 updates please.

[2022-08-14 12:12] abhisheks008 commented on #36
@sid-im updates please.

[2022-08-14 12:13] abhisheks008 commented on #33
@Nikita-Shrma updates please.

[2022-08-14 12:13] abhisheks008 commented on #31
@tejas910 updates please.

[2022-08-14 12:13] abhisheks008 commented on #30
@utkarsh-060 updates please.

[2022-08-14 12:14] abhisheks008 commented on #8
@Sahana915 updates please.

[2022-08-14 12:14] abhisheks008 commented on #11
@11Veeraj updates please.

[2022-08-14 12:15] abhisheks008 commented on #12
@prajwal-144 updates please.

[2022-08-14 12:15] abhisheks008 commented on #13
@CodeFlyAir updates please.

[2022-08-14 12:15] abhisheks008 commented on #14
@shwetmala55 updates please.

[2022-08-14 12:15] abhisheks008 commented on #15
@vryan-06 updates please.

[2022-08-14 12:16] abhisheks008 commented on #16
@ESHA1101 updates please.

[2022-08-14 12:16] abhisheks008 commented on #17
@ArthrowAbstract updates please.

[2022-08-14 12:17] abhisheks008 commented on #18
@sid6602 updates please.

[2022-08-14 12:17] abhisheks008 commented on #24
@dungeonmastae updates please.

[2022-08-14 12:18] tejas910 commented on #31
hi @abhisheks008 work is going on to make the model more accurate is quite a challenging task but I am trying my best sorry for the inconvenience

[2022-08-14 12:19] 11Veeraj commented on #11
You can check on my repo from dl simplified I have used a CNN model Yolov5 in which object 365 and coco dataset have been used I have created a Implementation.ipynb file in which you can run the code and the detected objects are appended in a csv only thing left is to create a proper readme file
https://github.com/11Veeraj/DL-Simplified/tree/main/Object%20Detection%20from%20a%20video

here is the

[2022-08-14 12:19] abhisheks008 commented on #31
It's okay, thanks for the update. Keep going @tejas910

[2022-08-14 12:21] 11Veeraj commented on #11
@abhisheks008
If any corrections are required please let me know as this is my first Open source contribution so I might have committed a few mistakes.

Thank You!

[2022-08-14 12:35] fykaa commented on #51
Working on this, quite tough for me:/

[2022-08-14 12:46] Nikita-Shrma commented on #33
Sir,
I was 1st learning about github like how to fork,clone etc. and then I
learnt the concepts of ML and semantics libraries and web scrappping and
now I am able to apply most basic algorithm semantics analysis using naive
bayes and now I'm learning other algorithms.
Please provide me more time as my college are also going on .

Hoping for your kind consideration.

Thanks and Regards
Nikita Sharm

[2022-08-14 12:56] pandey-ankit-22 commented on #53
I have started the work on the project but due to some academic problems,
it may take some time for project completion.

On Sun, Aug 14, 2022, 5:39 PM Abhishek Sharma ***@***.***>
wrote:

[2022-08-14 12:56] 123Vasu commented on #52
It is in progress,Sir.

On Sun, 14 Aug, 2022, 5:40 pm Abhishek Sharma, ***@***.***>
wrote:

[2022-08-14 12:59] abhisheks008 commented on #53
Okay take your time and keep updating here @pandey-ankit-22

[2022-08-14 13:01] abhisheks008 commented on #52
Okay carry on and keep updating here @123Vasu

[2022-08-14 13:02] abhisheks008 commented on #51
Take your time and try to learn more and more from different resources @fykaa

[2022-08-14 13:03] abhisheks008 commented on #33
Great going, carry on. Try to learn more and more and implement accordingly @Nikita-Shrma. All the best.

[2022-08-14 13:07] pandey-ankit-22 commented on #53
Sure, will do that.

On Sun, Aug 14, 2022, 6:29 PM Abhishek Sharma ***@***.***>
wrote:

[2022-08-14 13:11] abhisheks008 commented on #11
What's your contribution here? @11Veeraj

[2022-08-14 13:13] Nikita-Shrma commented on #33
Thanks a lot sir.

On Sun, 14 Aug 2022, 6:34 pm Abhishek Sharma, ***@***.***>
wrote:

[2022-08-14 13:20] 11Veeraj commented on #11
The Yolo model was giving output in multiple notepad text files for each frame as it was dividing the video into multiple frames of the image, so each frame has one notepad file, which I converted into a single CSV which can be found in the detectupdate.py line no 165, and after that identified the classes for each object which was detected and appended it in CSV so that all the objects which are

[2022-08-14 13:20] 11Veeraj commented on #11
The original file from them for running the script is detect.py

[2022-08-14 13:42] srini047 commented on #59
@abhisheks008
I had my placement classes going in my college till 8. Also, I am learning a lot about Tensorflow while doing this. Can you please provide sometime (within 3 days) and I would make a PR.

[2022-08-14 14:47] sid-im commented on #65
plz assign me this issue
Full name : siddarth
GitHub Profile Link : https://github.com/sid-im
Email ID : siddartha2510@gmail.com
Participant ID (if applicable):
Approach for this Project : ill use Random Forest Classifier to complete this project
What is your participant role? (Mention the Open Source program)

[2022-08-14 14:58] tknishh commented on #54
@abhisheks008 Done with the model, finalizing Readme.md file. Will PR by tonight or tomorrow.

[2022-08-14 15:10] abhisheks008 commented on #11
I got everything, I wanted to know what's your contribution? You have put the YOLOv5 repo and you are telling that it's your contribution. That's not fair.
Everything was done by ultralytics, are you the founder of ultralytics?

I am not getting you. Please explain.
@11Veeraj

[2022-08-14 15:12] abhisheks008 commented on #59
It's okay, thanks for the update @srini047

[2022-08-14 15:16] abhisheks008 commented on #54
Fair enough, keep posting updates here @tknishh

[2022-08-14 16:32] vryan-06 commented on #15
Using data augmentation and CNN I achieved an accuracy of 94% whereas using VGG16 I achieved 89% around. I'm now trying to do it using Resnet. DL is a little new to me so I'm taking a little longer time, sorry.

[2022-08-14 16:36] abhisheks008 commented on #15
@vryan-06 thanks for sharing the update, take your time.

[2022-08-14 16:56] Rohith2202 commented on #45
Almost done sir. Will submit in 2 days time

[2022-08-14 18:21] 11Veeraj commented on #11
I have used the basic model of yolov5 if you use it. You won't get the database results properly it provides the data in a txt file, which is scattered in those text files as it is dividing the video into multiple image frames, so I have combined it into one CSV so that the object identified from each image would be in a single file which is contextualised wherein user can extract the information

[2022-08-14 18:24] 11Veeraj commented on #11
In ultralytics repo you can see they've only mentioned for image

[2022-08-14 20:38] utsavk28 commented on #48
Hello@abhisheks008, I'd like to try and solve this.

Full name: Utsav Khatu
GitHub Profile Link: https://github.com/utsavk28
Email ID: utsavkhatu416@gmail.com
Approach for this Project: Will implement U-Net, Mask R-CNN & Deeplab using the Pytorch framework
Participant role : SSOC - 2022

[2022-08-15 03:16] Aadi71 commented on #35
Hello @abhisheks008
I have trained my model using CNN, and LSTM as of now. I am looking for other algorithms to train and then compare for the best result. It's taking a bit of time in training due to parallel training I believe. But, I will make sure to complete it by this week.
Any suggestions of yours or advice are most welcome!

[2022-08-15 04:11] abhisheks008 commented on #45
Cool, thanks for the update @Rohith2202

[2022-08-15 04:11] abhisheks008 commented on #48
Issue assigned to you @utsavk28

[2022-08-15 04:12] abhisheks008 commented on #35
Nice approach, keep going @Aadi71

[2022-08-15 04:20] abhisheks008 commented on #11
Look I understand what you have done, but there are certain things that needs to be followed while contributing in this repo.
Firstly, the README.md file, there everything is redirecting towards Ultralytics org.
Secondly, you have not followed the pattern to represent the project, there must be a `.ipynb` file in which all your works should be combined together and run properly with the outputs.
T

[2022-08-15 04:38] abhisheks008 opened #83 "Railway Track fault Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Railway Track fault Detection</br>
:red_circle: **Aim** : Create a model which will classify Defective and Non-Defective Railway Track</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/gpiosenka/railway-track-fault-detection-resized-224-x-224</br>
:red_circle: **Approach** : Try to use 3-4

[2022-08-15 04:39] abhisheks008 opened #84 "Military Aircraft Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Military Aircraft Detection</br>
:red_circle: **Aim** : Create a model which will idenitfy the aircrafts of Military forces and commercial ones.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/a2015003713/militaryaircraftdetectiondataset</br>
:red_circle: **Approach** : Try to use 3-4 alg

[2022-08-15 04:44] abhisheks008 opened #85 "Smartphone Processors Classification"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Smartphone Processors Classification</br>
:red_circle: **Aim** : Create a DL based classification model which will classify the processors of different smart phones.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/alanjo/smartphone-processors-ranking</br>
:red_circle: **Approach** : Try t

[2022-08-15 04:45] abhisheks008 opened #86 "Age and Sex Prediction"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Age and Sex Prediction</br>
:red_circle: **Aim** : Create a DL based model which will predict the age and sex of a particular figure from the given dataset.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/emirhanai/age-and-sex-prediction-by-artificial-intelligence</br>
:red_circle: **Appr

[2022-08-15 04:49] abhisheks008 opened #88 "Google Recaptcha Image Classification"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Google Recaptcha Image Classification</br>
:red_circle: **Aim** : Create a DL based classification model which will classify the Recaptcha images of Google.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/mikhailma/test-dataset</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to

[2022-08-15 04:57] abhisheks008 opened #89 "Mosquito Detection on Human Skin"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Mosquito Detection on Human Skin</br>
:red_circle: **Aim** : Create a DL model which will detect the mosquito on the human skin.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/naiborhujosua/mosquito-on-human-skin</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the

[2022-08-15 07:01] tknishh commented on #54
@abhisheks008 I've created PR please review and please mention if any changes are required.

[2022-08-15 11:39] utkarsh-060 commented on #30
I am almost done with the model. I need a few more days to finally submit it. Hopefully ill complete it by Friday.

[2022-08-15 12:17] adithya-s-k commented on #37
Can you assign me this Issue

- Full name :  Adithya S Kolavi
- GitHub Profile Link :  https://github.com/adithya-s-k
- Email ID : adithyaskolavi@gmail.com
- Participant ID (if applicable): Not applicable
- Approach for this Project: Using Tensorflow, Keras, CNN , SVM
- What is your participant role? (Mention the Open Source program)
SSOC Participant
issue#37

[2022-08-15 12:18] adithya-s-k commented on #43
Can you assign me this Issue?

Full name : Adithya S Kolavi
GitHub Profile Link : https://github.com/adithya-s-k
Email ID : [adithyaskolavi@gmail.com](mailto:adithyaskolavi@gmail.com)
Participant ID (if applicable): Not applicable
Approach for this Project: Using Tensorflow, Keras, CNN , SVM
What is your participant role? (Mention the Open Source program)
SSOC Participant

[2022-08-15 13:17] abhisheks008 commented on #43
You can work on one issue at a time, which issue you wanna work on @adithya-s-k

[2022-08-15 13:18] abhisheks008 commented on #30
Great! Thanks for the update @utkarsh-060

[2022-08-15 13:34] abhisheks008 commented on #37
Issue assigned to you @adithya-s-k

[2022-08-15 16:30] #54 closed

[2022-08-16 01:40] adithya-s-k commented on #37
I was working on the SVM-based Image classification model and I used pickle to export the model as a **.p** file but the size exceeds 100 MB , so I am not able to push it to GitHub.
Do you know of any way I can solve this problem @abhisheks008

[2022-08-16 03:43] abhisheks008 commented on #37
Deep learning models are huge in size and GitHub does not support files more than 100MB, we can not do anything about it. You don't need to put the `.pkl` file, just upload the other necessary files.

@adithya-s-k

[2022-08-16 06:01] KushagraTomar commented on #76
@abhisheks008 what exact changes are required

[2022-08-16 10:01] 11Veeraj commented on #11
I will update the readme file and highlight my contribution and mention the credits for the ultralytics model. Also will try to explore more algorithms such as RCNN. Thank you for correcting me.

[2022-08-16 11:07] abhisheks008 commented on #11
Thanks for understanding. Best wishes!

[2022-08-16 11:08] abhisheks008 commented on #76
I have commented there in the pull request check that.

[2022-08-16 17:06] sid6602 commented on #18
Hello @abhisheks008, I am working on this issue. Will update you as soon an algorithms will be ready. Sorry for inconvenience.

[2022-08-16 18:30] abhisheks008 commented on #31
Definitely, it's a deep learning project, use whatever you feel better!

@tejas910

[2022-08-17 04:03] #12 closed

[2022-08-17 11:25] prajwal-144 commented on #71
Name: Prajwal Uday
github link : https://github.com/prajwal-144
email : [uprajwal20@gmail.com](mailto:uprajwal20@gmail.com)
Approach : Use clustering for preliminary model and then move on with CNN and try to implement OCR .
Participant Role: SSOC

Pls assign me this issue. I would like to work on the same.

[2022-08-17 13:02] abhisheks008 commented on #71
Issue assigned to you @prajwal-144

[2022-08-17 13:05] #15 closed

[2022-08-17 14:13] vryan-06 commented on #72
Hey @abhisheks008, I would like to give this a try

Full name : Valiaparambil Ryan Taffy
GitHub Profile Link : https://github.com/vryan-06
Email ID : [ryan19vt@gmail.com](mailto:ryan19vt@gmail.com)
Approach for this Project : Would initially try solving this with some Classifier algorithm and then move on to ANN. (Suggestions if any would be helpful)
Participant role : SSOC - 2022

[2022-08-17 15:55] abhisheks008 commented on #72
Issue assigned to you @vryan-06

[2022-08-17 16:27] ASHISHKUMAR2411 commented on #86
Hey @abhisheks008, I'd like to try this.

Full name: Ashish Kumar
GitHub Profile Link: https://github.com/ASHISHKUMAR2411
Email ID : [ashishkumar24112001@gmail.com](mailto:ashishkumar24112001@gmail.com)
Approach for this Project: Would come up with an implemented convolutional neural network (CNN) using the Keras Framework with a Tensorflow.
Participant role : SSOC - 2022

[2022-08-17 16:35] abhisheks008 commented on #86
Issue assigned to you @ASHISHKUMAR2411

[2022-08-18 02:25] janeka1122 commented on #83
Hi @abhisheks008 , can you assign me this issue please. I am learning Deep Learning and Neural nets. I am fluent in Python.

Full name : Chinmay Harkawat
GitHub Profile Link : https://github.com/janeka1122
Email ID : chinmayharkawatcodes1122@gmail.com
Participant ID (if applicable) : None that I know of
Approach for this Project : Explore various algorithms and implement a Neural Net.
What is your

[2022-08-18 05:11] abhisheks008 commented on #83
Issue assigned to you @janeka1122

[2022-08-18 11:18] mridulpal019 commented on #84
Hey @abhisheks008, I'd like to try this.

Full name: Mridul Kumar Pal
GitHub Profile Link : https://github.com/mridulpal019
Email ID : mridulpal19@gmail.com
Approach for this Project: I will try to it by using neural network (CNN).
Participant role : SSOC - 2022

[2022-08-18 11:29] abhisheks008 commented on #84
Issue assigned to you @mridulpal019

Try to use more than 3 models and compare them to get the better model for this project using the accuracy scores.

[2022-08-18 11:33] abhisheks008 commented on #60
@omkar3602 use this instead of the previous one, https://www.kaggle.com/datasets/nafin59/monkeypox-skin-lesion-dataset

[2022-08-18 12:56] #45 closed

[2022-08-18 13:50] #9 closed

[2022-08-19 20:03] KushagraTomar commented on #76
hey,
I am sorry to bother you like you said you have commented on the issue in the pull request but I am still not able to see it... If possible can you reply here . It would be really help me

[2022-08-20 03:52] abhisheks008 commented on #76
Remove the `Heartbeat Classification using ECG/requirements.txt` file. This is causing a merging issue and your PR couldn't be merged unless and until you fix this.

@KushagraTomar

[2022-08-20 05:20] #76 closed

[2022-08-21 03:04] #66 closed

[2022-08-21 08:38] #35 closed

[2022-08-21 19:05] Aadi71 opened #100 "Twitter Sentiment Analysis NLP"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Twitter Sentiment Analysis** : </br>
:red_circle: **Aim**: Perform Sentiment Analysis with 3-4 Deep Learning Models and find the best-fit model.</br>
:red_circle: **Dataset**: https://www.kaggle.com/datasets/kazanova/sentiment140</br>
:red_circle: **Approach**: Try to use 3-4 algorithms to implement the models and compare

[2022-08-21 19:08] Aadi71 commented on #100
Hey, would like to work on this issue. Kindly assign it to me.

Full name: Aadi Jain
GitHub Profile Link: https://github.com/Aadi71
Email ID: jainaadi7102@gmail.com
Role: SSOC' 22 Participant

[2022-08-22 01:38] hridayK opened #101 "Yoga Pose Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Yoga Pose Classifier** : </br>
:red_circle: **To classify yoga postures from a video stream** : </br>
:red_circle: **http://download.tensorflow.org/data/pose_classification/yoga_poses.zip** : </br>
:red_circle: **Approach** : Try to make a classifier model based on body points detected from images and use the trained mode

[2022-08-22 03:07] #67 closed

[2022-08-22 03:12] abhisheks008 commented on #101
Nice project chosen. I have renamed the project as **Yoga Pose Detection**, follow this naming pattern through out the whole implementation of your project. And try to use more than 2-3 models so that you can compare the models by using their accuracy scores and find the best fitted one.

Best wishes, issue assigned to you @hridayK

[2022-08-22 03:13] abhisheks008 commented on #100
Issue assigned to you @Aadi71

[2022-08-22 18:21] adithya-s-k commented on #37
@abhisheks008 I have created 2 models using SVM and CNN and I am getting an accuracy of 75 to 80 percent.
I am still a beginner and did my best to optimize the model.
Is this accuracy enough and can I create a pull request?
![image](https://user-images.githubusercontent.com/27956426/185991507-05279ab3-632c-4065-85f2-d9e4e8bc11ef.png)

[2022-08-22 18:58] abhisheks008 commented on #37
Yeah it's okay @adithya-s-k

[2022-08-23 18:45] adithya-s-k commented on #37
@abhisheks008  please look into this PR - https://github.com/abhisheks008/DL-Simplified/pull/102

[2022-08-24 03:50] #40 closed

[2022-08-24 05:14] kshitij192 commented on #56
Kshitij Kumar
Github link-https://github.com/kshitij192
Email- kshitijayushk192@gmail.com
Participant id- None
Approach- Using Transfer learning

[2022-08-24 05:23] #60 closed

[2022-08-24 05:25] abhisheks008 commented on #56
Issue assigned to you @kshitij192

[2022-08-24 09:22] omkar3602 commented on #68
Full name: Omkar Jahagirdar
Github Profile Link: https://github.com/omkar3602
Email ID: omkar3602@gmail.com
Approach: I would like to work on this issue. I will be using CNN models with different architectures. I will also be exploring transfer learning(pre-trained models).
Participant role: SSOC

[2022-08-24 13:34] abhisheks008 commented on #68
Issue assigned to you @omkar3602

[2022-08-25 04:25] #68 closed

[2022-08-25 14:49] #37 closed

[2022-08-25 16:30] RitoDas1923 commented on #22
Full Name : Ritabrata Das
GitHub Profile Link : RitoDas1923
Email ID : ritodas03@gmail.com
Participant ID(if applicable): N/A
Approach for this Project : Using custom CNN and different Transfer Learning models to obtain maximum accuracy
What is your participant role ? : Social Summer of Code(SSOC)
Please assign me this issue.

[2022-08-25 17:33] 072arushi commented on #22
@RitoDas1923 You have been assigned the issue. All the best!

[2022-08-26 03:54] adithya-s-k commented on #44
Please assign this issue to me @abhisheks008

- Full name : Adithya S Kolavi
- GitHub Profile Link : https://github.com/adithya-s-k
- Email ID : adithyaskolavo@gmail.com
- Participant ID (if applicable):
- Approach for this Project : Will be using Pre-trained CNN based model to create an image classifier
- What is your participant role? (Mention the Open Source program) SSOC 2022 participant

[2022-08-26 04:18] abhisheks008 commented on #44
Issue assigned to you @adithya-s-k. Go ahead!

[2022-08-27 04:02] #79 closed

[2022-08-27 07:30] Uttkarsh09 commented on #88
Hey @abhisheks008, I'd like to try and solve this.

Full name : Uttkarsh Patel
GitHub Profile Link : https://github.com/Uttkarsh09
Email ID : [uttkarshpatel9@gmail.com](mailto:uttkarshpatel9@gmail.com)
Approach for this Project : Would come up with a CNN model and try different training parameters to analyse the metrics.
Participant role : SSOC - 2022

[2022-08-27 07:56] abhisheks008 commented on #88
Issue assigned to you @Uttkarsh09

[2022-08-27 10:12] omkar3602 commented on #41
Full name: Omkar Jahagirdar
Github Profile Link: https://github.com/omkar3602
Email ID: omkar3602@gmail.com
Approach: I would like to work on this issue. I will be using CNN models with different architectures. I will also be exploring transfer learning(pre-trained models) if I don't get a satisfactory accuracy.
Participant role: SSOC

[2022-08-27 14:22] Vikalp981 commented on #63
Full name: Vikalp Kumar Tripathi
GitHub Profile Link: https://github.com/Vikalp981
Email ID: tripathivikalp862@gmail.com
Approach for this Project: First, I am thinking of using K-fold and then comparing the accuracy by implying other transfer learning algorithms with the help of TensorFlow
What is your participant role? SSOC

[2022-08-27 15:41] abhisheks008 commented on #41
Issue assigned to you @omkar3602

[2022-08-28 03:48] #41 closed

[2022-08-28 15:26] kunalagra commented on #69
Hey, I am interested in taking up this project.
Full name : Kunal Agrawal
GitHub Profile Link : https://github.com/kunalagra
Email ID : kunal.agrawal1990@yahoo.in
Role: SSoC'22
Approach: Tensorflow & Keras

[2022-08-29 03:56] abhisheks008 commented on #69
Issue assigned to you. Try to use 3-4 algorithms/models and compare them to find the best fitted model for this project. @kunalagra

[2022-08-30 06:51] abhisheks008 commented on #89
Issue assigned to you @omkar3602

[2022-08-30 06:57] abhisheks008 opened #109 "Sea Animals Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Sea Animals Detection</br>
:red_circle: **Aim** : Create a deep learning model which will identify the sea animals from the given dataset.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/vencerlanz09/sea-animals-image-dataste</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to i

[2022-08-30 07:02] abhisheks008 opened #110 "Shells and Pebbles Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Shells and Pebbles Detection</br>
:red_circle: **Aim** : Create a DL model which will identify the shells and pebbles using the given dataset.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/vencerlanz09/shells-or-pebbles-an-image-classification-dataset</br>
:red_circle: **Approach** : Tr

[2022-08-30 07:06] abhisheks008 opened #111 "Railway Track Fault Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Railway Track Fault Detection</br>
:red_circle: **Aim** : Create a DL model which will identify the fault in the railway track.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/gpiosenka/railway-track-fault-detection-resized-224-x-224</br>
:red_circle: **Approach** : Try to use 3-4 algorit

[2022-08-30 07:12] #71 closed

[2022-08-30 07:16] abhisheks008 commented on #26
Updates please @abhishak3

[2022-08-30 07:17] abhisheks008 commented on #30
Updates please @utkarsh-060

[2022-08-30 07:17] abhisheks008 commented on #31
Updates please @tejas910

[2022-08-30 07:18] abhisheks008 commented on #33
Updates please @Nikita-Shrma

[2022-08-30 07:18] abhisheks008 commented on #46
Updates please @PrathmeshN99

[2022-08-30 07:19] abhisheks008 commented on #48
Updates please @utsavk28

[2022-08-30 07:19] abhisheks008 commented on #49
Updates please @sethu400

[2022-08-30 07:19] abhisheks008 commented on #51
Any updates on your learning and project @fykaa

[2022-08-30 07:20] abhisheks008 commented on #52
Updates please @123Vasu

[2022-08-30 07:20] abhisheks008 commented on #53
Updates please @pandey-ankit-22

[2022-08-30 07:20] abhisheks008 commented on #57
Updates please @falconcode16

[2022-08-30 07:21] abhisheks008 commented on #8
Updates please @Sahana915

[2022-08-30 07:21] abhisheks008 commented on #11
Updates please @11Veeraj

[2022-08-30 07:21] abhisheks008 commented on #13
Updates please @CodeFlyAir

[2022-08-30 07:21] abhisheks008 commented on #14
Updates please @shwetmala55

[2022-08-30 07:22] abhisheks008 commented on #16
Updates please @ESHA1101

[2022-08-30 07:22] abhisheks008 commented on #17
Updates please @ArthrowAbstract

[2022-08-30 07:22] abhisheks008 commented on #18
Updates please @sid6602

[2022-08-30 07:22] abhisheks008 commented on #24
Updates please @dungeonmastae

[2022-08-30 07:23] abhisheks008 commented on #59
Updates please @srini047

[2022-08-30 07:23] abhisheks008 commented on #61
Updates please @AbhishekRP2002

[2022-08-30 07:23] abhisheks008 commented on #62
Updates please @Sksiushshsu

[2022-08-30 07:24] abhisheks008 commented on #64
Updates please @shubhangsrivastav

[2022-08-30 07:24] abhisheks008 commented on #70
Updates please @uuuuju

[2022-08-30 07:25] abhisheks008 commented on #72
Updates please @vryan-06

[2022-08-30 07:25] abhisheks008 commented on #73
Updates please @sristis0202

[2022-08-30 07:25] abhisheks008 commented on #75
Updates please @taruarora

[2022-08-30 07:26] abhisheks008 commented on #77
Updates please @SunitTrivedi

[2022-08-30 07:26] abhisheks008 commented on #83
Updates please @janeka1122

[2022-08-30 07:26] abhisheks008 commented on #84
Updates please @mridulpal019

[2022-08-30 07:26] abhisheks008 commented on #86
Updates please @ASHISHKUMAR2411

[2022-08-30 07:27] abhisheks008 commented on #100
Updates please @Aadi71

[2022-08-30 07:28] 11Veeraj commented on #11
Working on Rcnn model for object detection. Its a topic which im learning so its taking a bit long.
Also due to clg a bit delay is caused.

[2022-08-30 07:34] abhisheks008 commented on #11
I understand what you are facing right now, but as you are enrolled in a program and you have been assigned an issue for the last 26 days, you need to keep updating ourselves, otherwise we can't get ypur problem and eventually the issue will be unassigned due to inactivity. Hope you understand.
@11Veeraj

[2022-08-30 07:39] 11Veeraj commented on #11
Yes I understand the problems caused due to my delay which may lead to others not getting the chance. I’ll try to complete it asap.
Will let you know if I face any issue regarding this project.
If i am not able to complete within few days you may unassign the project

[2022-08-30 08:45] pandey-ankit-22 commented on #53
It's almost done. Major portion is completed.

On Tue, Aug 30, 2022, 12:50 PM Abhishek Sharma ***@***.***>
wrote:

[2022-08-30 13:46] janeka1122 commented on #83
I have been unable to complete the issue, will take some more time.
I'am still very new to ML 😅

[2022-08-30 14:33] abhisheks008 commented on #72
If possible try to finish this by this week, as your exams are knocking at the door. If not possible then, don't worry you can finish this issue after your exams are over.
@vryan-06

[2022-08-30 14:57] 123Vasu commented on #52
Sir I have made 1 model Today or Tomorrow I will Make Pull Request.

[2022-08-30 18:15] prajwal-144 commented on #42
Name: Prajwal Uday
github link : https://github.com/prajwal-144
email : uprajwal20@gmail.com
Approach : Use different object detection algorithms like SSD, R-CNN, YOLO, HOG,etc.
Participant Role: SSOC

Pls assign me this issue. I would like to work on the same.

[2022-08-30 18:20] Rushijaviya commented on #42
Issue assigned to you @prajwal-144. Happy contributing.

[2022-08-31 07:21] sid-im commented on #65
i had my clg exams....i have completed the task soon ill be make a pr

[2022-08-31 07:21] sid-im commented on #65
@abhisheks008
i had my clg exams....i have completed the task soon ill be make a pr

[2022-08-31 07:57] shwetmala55 commented on #14
im sorry for delay.. facing some issues.. plz give me more time to complete this project

[2022-08-31 08:17] ASHISHKUMAR2411 commented on #86
Working on it, please provide me 2-3 days I am just working on its accuracy.

[2022-08-31 08:25] abhisheks008 commented on #86
Okay, go for it @ASHISHKUMAR2411

[2022-08-31 08:26] abhisheks008 commented on #14
Okay, take your time @shwetmala55

[2022-08-31 09:10] Aadi71 commented on #100
Working on it and will complete it by this week.

[2022-08-31 10:06] sid-im opened #114 "Driving-Behavior-Identification"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : </br>
:red_circle: **Aim** : </br>
:red_circle: **Dataset** : </br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best fitted algorithm for the model by checking the accuracy scores. Also do not forget to do a exploratory data

[2022-08-31 10:07] #114 closed

[2022-08-31 13:53] mridulpal019 commented on #84
@abhisheks008
Hi,
Sorry actually I caught in some lab practicals  and project of the  college.. and as this week I have my exams going.. So you can unassign the issue as of now.. and as soon as I got free... I will contribute to some other issue.
Thanks.

[2022-08-31 15:27] abhisheks008 commented on #84
As you wish @mridulpal019. Hope to see you soon again.

[2022-09-02 06:58] abhishak3 commented on #26
I will update you in few hours.

[2022-09-02 13:47] Nikita-Shrma commented on #33
Sir,
I'm sorry sir for late reply .Actually my exams are going on and earlier
lab exams were there and all the thing is happening without a single day
break.

I'm sorry for that, I was not able to do extra now.All I have done is
watched some you tube videos after naivebayes.

Thanks and Regards
Nikita Sharma

On Tue, 30 Aug 2022, 12:48 pm Abhishek Sharma, ***@***.***>
wrote:

[2022-09-02 14:07] adityagoutam23 commented on #74
Hey, @abhisheks008 I would love to work on this issue,
Please find all the details, mentioned for the issue to be assigned.

Full name : Aditya Goutam
GitHub Profile Link : https://github.com/adityagoutam23
Email ID : adityagoutam2318@gmail.com
Approaches for this Project :-
     1. Using coco pose iterator, with Part Affinity Fields, openCV and torch.
     2. Using mass RCNN for human detection t

[2022-09-02 14:10] abhisheks008 commented on #74
Issue assigned to you @adityagoutam23

[2022-09-02 14:12] abhisheks008 commented on #33
Well then focus on your exams for now. If you are free later on you can take up other issues here, currently I'm unassigning the issue from you. All the best for your exams, give your best shot :100:

@Nikita-Shrma

[2022-09-03 12:29] #52 closed

[2022-09-04 15:33] abhishak3 commented on #26
@abhisheks008 I am unable to find any label in the given training data. Please have a look!

[2022-09-04 18:23] abhisheks008 commented on #26
The dataset is perfect, I have checked that. You need to create a deep learning model which extract the sentences written in Urdu from the video/images.
@abhishak3

[2022-09-05 03:33] #65 closed

[2022-09-05 14:20] abhisheks008 commented on #26
LOL! It's okay, it happens. @abhishak3

[2022-09-07 18:44] #89 closed

[2022-09-09 19:13] guptaaryan16 commented on #84
Hey this is Aryan Gupta,
GitHub Profile Link : https://github.com/guptaaryan16
Email ID : [guptaaryan16@gmail.com](mailto:guptaaryan16@gmail.com)
Participant ID (if applicable): Not available
Approach for this Project :
I would like to work on this by using neural network architectures like ResNet, EfficientNet and GoogleNet as this is a heavy dataset and I need some effective algorithms in order

[2022-09-10 03:55] abhisheks008 commented on #84
Complete the required changes in the previous PR first, then start you can be able start working with this. @guptaaryan16

[2022-09-10 05:56] utkarsh-060 commented on #30
@abhisheks008 I have been a little busy with college work. i will try my best to finish this before 15th September.

[2022-09-10 08:24] sid6602 commented on #18
@abhisheks008 Pull Request created.

[2022-09-10 14:40] omkar3602 commented on #110
Full name: Omkar Jahagirdar
Github Profile Link: https://github.com/omkar3602
Email ID: omkar3602@gmail.com
Approach: I would like to work on this issue. I will be using CNN models with different architectures. I will also be exploring transfer learning(pre-trained models) if I don't get a satisfactory accuracy.
Participant role: SSOC

[2022-09-10 15:57] abhisheks008 commented on #110
Issue assigned to you @omkar3602

[2022-09-10 17:16] #50 closed

[2022-09-10 19:12] guptaaryan16 commented on #84
Hey can you assign this to me

[2022-09-11 04:16] abhisheks008 commented on #84
Issue assigned to you @guptaaryan16. You can start working on it.

[2022-09-12 04:14] adityagoutam23 commented on #74
@abhisheks008 I have started working on the project and currently exploring the dataset and associated features with it as given in the Jupiter file along with the dataset. I am also going through the basics of JSON as it is required for the understanding of dataset. As my exams are starting this week, so I would not be able to work on this project till 24th of September. After that I will resume

[2022-09-12 04:17] abhisheks008 commented on #74
First of all thanks for the update. You can start working on it after Sep 24, but make sure you complete the project within the deadline for this open source program, which is Oct 1, 2022. Any contributions beyond the deadline will not be counted by the SSOC team.

All the best for your exams.
@adityagoutam23

[2022-09-12 04:21] adityagoutam23 commented on #74
Thank you @abhisheks008, will definitely finish the project by 30th September.

[2022-09-13 03:56] #86 closed

[2022-09-13 10:51] rutikal commented on #109
I want to contribute to the project.

[2022-09-13 10:52] rutikal commented on #33
I would like to contribute on this issue.

[2022-09-13 10:54] muskaan04 commented on #109
I would like to contribute to the project

[2022-09-13 18:17] abhisheks008 commented on #109
Can you elaborate your approach for this project and also please follow the guidelines & mention all the necessary details.
@muskaan04

[2022-09-14 03:49] pandey-ankit-22 commented on #111
Full name :    Ankit Pandey
GitHub Profile Link :    https://github.com/pandey-ankit-22/
Email ID :    pandeyankit222003@gmail.com
Participant ID (if applicable):
Approach for this Project :    I will use CNN and Residual Neural Network for my analysis.
What is your participant role? Contributor (SSOC)

[2022-09-14 05:56] Satyawan7 commented on #77
Hey @abhisheks008 I would like to work on this issue.
If no one is working actively on the issue please consider me for this issue.
Full Name: Satyawan Bhuyan
GitHub Profile Link : https://github.com/Satyawan7
Email Id: bhuyansaku19it@student.mes.ac.in
Approach for this Project : Using Convolutional Neural Network
Participant role : SSOC 2022

[2022-09-14 06:08] narpatchoudhary777 commented on #10
Hey @abhisheks008 I would like to work on this project. If no one is working on this project consider me for the same.
Full name : Narpat Choudhary
GitHub Profile Link : https://github.com/narpatchoudhary777
Email ID : choudharynama19ie@student.mes.ac.in
Approach for this Project : I will CNN for the project implementation

[2022-09-14 06:11] Rushijaviya commented on #111
Assigning this to you @pandey-ankit-22.

[2022-09-14 06:12] narpatchoudhary777 commented on #10
Hey @abhisheks008 I would like to work on this project. If no one is working on this project consider me for the same.
Full name : Narpat Choudhary
GitHub Profile Link : https://github.com/narpatchoudhary777
Email ID : choudharynama19ie@student.mes.ac.in
Approach for this Project : I will use CNN in this project implementation

[2022-09-14 06:13] Rushijaviya commented on #10
Assigning this to you @narpatchoudhary777. Happy contributing!

[2022-09-14 08:06] #53 closed

[2022-09-14 08:10] abhisheks008 commented on #77
Issue has been unassigned from @SunitTrivedi due to inactivity. Issue has been assigned to @Satyawan7

[2022-09-16 08:30] #56 closed

[2022-09-17 04:40] #69 closed

[2022-09-17 05:58] kunalagra commented on #109
Hey @abhisheks008,  i would like to work on this.

Full name : Kunal Agrawal
GitHub Profile Link : https://github.com/kunalagra
Email ID : [kunal.agrawal1990@yahoo.in](mailto:kunal.agrawal1990@yahoo.in)
Role: SSoC'22
Approach: Tensorflow CNN Model & transfer Learning

[2022-09-17 09:48] aishwarya1735 commented on #33
Can this issue be assigned to me

[2022-09-17 16:04] abhisheks008 commented on #109
Issue assigned to you @kunalagra. Sorry for the late reply.

[2022-09-17 21:50] aishwarya1735 commented on #33
Yes I'll do that today and give the details in the given format.

Also , could you let me know if my devfolio details were verified.

Thank you.

On Sat, 17 Sep, 2022, 9:27 pm Abhishek Sharma, ***@***.***>
wrote:

[2022-09-18 03:53] abhisheks008 commented on #33
Have you filled that form which I have shared in the email/discord channel. If yes, then your devfolio should be verified soon.
@aishwarya1735

[2022-09-18 05:45] #109 closed

[2022-09-18 06:53] #26 closed

[2022-09-18 08:22] aishwarya1735 commented on #33
Full name: M.V.N.S.Aishwarya
GitHub Profile Link: https://github.com/aishwarya1735
Email ID: ***@***.***
Participant ID (if applicable): NA
Approach for this Project: I would fetch the dataset and consider positive
and negative reviews of amazon based on different parameters like rating
(numbers), and feedback (words) and accordingly get the overall feedback
from the data.
What is your participant

[2022-09-18 08:32] sankalp-srivastava commented on #33
@aishwarya1735 issue assigned to you.

[2022-09-18 12:29] kunalagra commented on #21
Hey @abhisheks008 ,
I believe this is invalid Dataset as the dataset is missing labels for lot of images.
So i think we should close this issue.

[2022-09-18 14:02] kunalagra commented on #43
Hey @abhisheks008 ,
Can you please assign me this issue. I would like to work on it.

Full name : Kunal Agrawal
GitHub Profile Link : https://github.com/kunalagra
Email ID : [kunalagrawal.ybo94@simplelogin.com](mailto:kunalagrawal.ybo94@simplelogin.com)
Role: SSoC'22
Approach: Tensorflow CNN Model & transfer Learning

[2022-09-18 14:15] abhisheks008 commented on #43
Issue assigned to you @kunalagra

[2022-09-18 18:15] KushagraTomar commented on #49
hey pls assign me this think of applying CNN based ResNet model

[2022-09-18 18:19] Rushijaviya commented on #49
please comment in the mention format.
![image](https://user-images.githubusercontent.com/59735978/190922432-9ec920ea-0237-4dd8-9277-e1ea7de43b1a.png)

[2022-09-18 18:25] KushagraTomar commented on #49
name:Kushagra Tomar
github:https://github.com/KushagraTomar
email:kushagratomar2016@gmail.com
approach:Thinking of applying CNN based ResNet model for classification
SSOC

[2022-09-18 18:26] Rushijaviya commented on #49
Assigned to you @KushagraTomar. Happy contributing!

[2022-09-18 19:00] #88 closed

[2022-09-20 06:11] #111 closed

[2022-09-20 11:02] pandey-ankit-22 commented on #7
Full name : Ankit Pandey
GitHub Profile Link : https://github.com/pandey-ankit-22
Email ID : pandeyankit222003@gmail.com
Participant ID (if applicable):
Approach for this Project : I will use multiple DL algorithm and NNs for this project.
What is your participant role?  Contributor (SSOC)

@abhisheks008 Please assign me this issue.

[2022-09-20 12:54] abhisheks008 commented on #21
Hey @kunalagra thanks for addressing the issue. I have modified the issue, and have updated the dataset with a new one. Hope you'll like it this time.

[2022-09-20 12:55] abhisheks008 commented on #7
Issue assigned to you @pandey-ankit-22. Make sure you complete this project before the deadline.

[2022-09-20 13:18] abhisheks008 commented on #33
@aishwarya1735 this issue was assigned to you 2 days back, and will remain assigned to you. Keep going with your project, don't worry I'll not unassign you this issue.

[2022-09-21 05:20] chandinic10 commented on #32
Full name : Chandini Chentamara
GitHub Profile Link : [https://github.com/chandinic10](https://github.com/abhisheks008/ML-Crate/issues/url)
Participant ID: NA
Approach for this Project: I will use YOLO v2 with CNN as all the labels in the datasets are labeled in YOLO format.

[2022-09-21 05:26] abhisheks008 commented on #32
Are you a participant of Social Summer of Code, 2022 or, just wanna contribute in this project repo as a Contributor?
@chandinic10

[2022-09-21 05:39] chandinic10 commented on #32
I want to contribute to this project repo as a contributor but I am not a participant of SSOC 2022.

[2022-09-21 05:42] abhisheks008 commented on #32
That sounds great. This issue is assigned to you @chandinic10.

Best wishes!

[2022-09-22 03:56] aishwarya1735 commented on #33
Thank you for the clarification. I am working on it 👍🏻

On Tue, 20 Sep, 2022, 6:48 pm Abhishek Sharma, ***@***.***>
wrote:

[2022-09-22 05:24] #110 closed

[2022-09-22 08:07] #84 closed

[2022-09-22 09:33] guptaaryan16 commented on #21
Hey this is Aryan Gupta,
GitHub Profile Link : https://github.com/guptaaryan16
Email ID : [guptaaryan16@gmail.com](mailto:guptaaryan16@gmail.com)
Participant ID (if applicable): Not available
Approach for this Project :
I would like to work on this by using neural network architectures like ResNet, EfficientNet and GoogleNet as this is a heavy dataset and I need some effective algorithms in order

[2022-09-22 10:30] khushaallll commented on #36
Full name : Khushal Koli
    GitHub Profile Link : https://github.com/khushaallll
    Email ID : kolikhki19it@student.mes.ac.in
    Participant ID (if applicable):
    Approach for this Project :

- Planning to use different CNN models.
- Planning on to use few pre-trained models, and YOLOv5
- will try to construct a custom neural network as well

    What is your participant role : -

[2022-09-22 11:28] abhisheks008 commented on #21
Issue assigned to you, start working on it. @guptaaryan16

[2022-09-22 11:29] abhisheks008 commented on #36
Are you a participant from any open source program or, just wanna contribute here as a contributor?
@khushaallll

[2022-09-23 09:08] KarteyaDhande commented on #85
We are interested to solve this issue. Can you please assign this problem to us.

    Full name : Karteya Dhande
    GitHub Profile Link : https://github.com/KarteyaDhande
    Email ID : karteyadhande47@gmail.com
    Approach for this Project : Planning to use TextCNN for classification

[2022-09-23 12:52] abhisheks008 commented on #85
Are you a participant of any open source program or, you wanna contribute separately.
@KarteyaDhande

[2022-09-23 13:16] khushaallll commented on #36
No I'm not a participant from open source program I just want to contribute as an independent contributor

[2022-09-23 14:23] abhisheks008 commented on #36
Sounds great. Issue has been assigned to you @khushaallll. Go ahead!

[2022-09-23 17:52] KarteyaDhande commented on #85
I want to contribute seperately. @abhisheks008

[2022-09-24 03:58] abhisheks008 commented on #85
Sounds great to me. Issue has been assigned to you @KarteyaDhande. Go ahead!

[2022-09-24 04:02] abhisheks008 commented on #101
@hridayK updates please.

[2022-09-24 04:02] abhisheks008 commented on #100
@Aadi71 updates please.

[2022-09-24 04:02] abhisheks008 commented on #83
@janeka1122 updates please.

[2022-09-24 04:03] abhisheks008 commented on #77
@Satyawan7 updates please.

[2022-09-24 04:03] abhisheks008 commented on #75
@taruarora updates please.

[2022-09-24 04:03] abhisheks008 commented on #74
@adityagoutam23 updates please.

[2022-09-24 04:03] abhisheks008 commented on #73
@sristis0202 updates please.

[2022-09-24 04:04] abhisheks008 commented on #72
@vryan-06 updates please.

[2022-09-24 04:04] abhisheks008 commented on #70
@uuuuju updates please.

[2022-09-24 04:04] abhisheks008 commented on #63
@Vikalp981 updates please.

[2022-09-24 04:05] abhisheks008 commented on #64
@shubhangsrivastav updates please.

[2022-09-24 04:05] abhisheks008 commented on #62
@Sksiushshsu updates please.

[2022-09-24 04:05] abhisheks008 commented on #61
@AbhishekRP2002 updates please.

[2022-09-24 04:05] abhisheks008 commented on #59
@sankalp-srivastava updates please.

[2022-09-24 04:06] abhisheks008 commented on #51
@fykaa updates please.

[2022-09-24 04:06] abhisheks008 commented on #48
@utsavk28 updates please.

[2022-09-24 04:06] abhisheks008 commented on #46
@PrathmeshN99 updates please.

[2022-09-24 04:07] abhisheks008 commented on #42
@prajwal-144 updates please.

[2022-09-24 05:06] utsavk28 commented on #48
Really Sorry, was busy with other stuff. So was not able to complete it
You can unassign me

[2022-09-24 05:23] sankalp-srivastava commented on #59
@srini047 any updates?

[2022-09-24 06:03] srini047 commented on #59
I will make a PR by Monday. Working on the model.

[2022-09-24 06:19] vryan-06 commented on #72
I have made models using LR, DT and RF. Will try ANN now and submit it. College schedule has been a little too hectic, so will try to complete it by tomorrow.

[2022-09-24 11:09] Aadi71 commented on #100
I understand it got delayed by a huge time, but I will definitely try to complete it within the deadline.

[2022-09-24 11:40] Vikalp981 commented on #63
Sir please unassign this issue to me as I have tried implementing it but facing errors which my laptop can not handle. So I need to leave this. Sorry from my side

[2022-09-24 14:29] hridayK commented on #101
Really sorry I won't be able to match the timeline of SSOC, but so far have been able to test the concept for 3 yoga poses with each being trained on 200 images and on using external images of the same pose the accuracy seems, good I am yet to get a numbered accuracy score, and have been busy with a few unexpected things in college leading to this delay in updates, but will surely be able to finis

[2022-09-24 16:06] KarteyaDhande commented on #85
Thankyou. @abhisheks008

[2022-09-24 16:26] #43 closed

[2022-09-24 16:29] #72 closed

[2022-09-24 16:31] abhisheks008 commented on #101
You can finish this is up, but that contribution will not be counted in SSOC. If you are okay with that, you can contribute here, it's completely fine. But for getting the points you need to complete this within the deadline.
@hridayK

[2022-09-24 16:31] abhisheks008 commented on #100
Try to do that, otherwise it'll of no use.

[2022-09-24 16:42] abhisheks008 commented on #63
Anyways, thanks for trying it out.

[2022-09-24 18:32] kshitij192 commented on #63
Full name : Kshitij Kumar
GitHub Profile Link : https://github.com/kshitij192
Email ID : kshitijayushk192@gmail.com
Approach for this Project : Using Inceptionresnet pretrained model by transfer learning
What is your participant role? SSOC

[2022-09-25 04:14] abhisheks008 commented on #63
Issue assigned to you @kshitij192

[2022-09-25 08:00] adityagoutam23 commented on #74
@abhisheks008 just finished with exams, will continue the project from today onwards.

[2022-09-26 15:05] adithya-s-k commented on #23
@abhisheks008 can you please assign this issue to me
Also doesn't this come under the Advanced category as Indian food detection was in the advanced category

[2022-09-27 10:04] muskaan04 commented on #28
I would like to work on this?

[2022-09-27 10:07] muskaan04 commented on #28
Full name : Anupam Mishra
    GitHub Profile Link : https://github.com/muskaan04
    Email ID : mishraankr19it@student.mes.ac.in
    Participant ID (if applicable):na
    Approach for this Project : machine learning

[2022-09-27 16:20] abhisheks008 commented on #23
Issue assigned to you @adithya-s-k

[2022-09-27 16:23] #44 closed

[2022-09-27 16:23] #23 closed

[2022-09-28 03:15] adithya-s-k opened #140 "Yoga Pose Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Yoga Pose Detection</br>
:red_circle: **Aim** : Yoga and Exercise Prediction model which can detect the exercise or yoga posture you are performing through your webcam in real time</br>
:red_circle: **Dataset** : will be created by the user or any video input</br>
:red_circle: **Approach**: We will be us

[2022-09-28 03:17] adithya-s-k commented on #140
✅ To be Mentioned while taking the issue :

Full name: Adithya S Kolavi
GitHub Profile Link: https://github.com/adithya-s-k
Email ID: adithyaskolavi@gmail.com
Participant ID (if applicable):
Approach for this Project: Mentioned in the issue itself
What is your participant role: SSOC participant

[2022-09-28 03:32] abhisheks008 commented on #140
@adithya-s-k I have updated the title and the aim of the project. Remember the project title is going to be **Yoga Pose Detection**. Start working on it and finish it before the deadline (October 1, 2022).

Issue assigned to you @adithya-s-k.

[2022-09-30 04:33] #21 closed

[2022-09-30 18:16] Aadi71 commented on #100
Closing this issue, I almost did it yet I cannot conclude.

[2022-10-01 12:28] abhisheks008 commented on #100
Do not close issues, let the other contributors to solve this issue. It'll be a opportunity for them too.

[2022-10-01 12:31] #63 closed

[2022-10-01 16:39] #140 closed

[2022-10-01 16:45] #101 closed

[2022-10-03 03:36] abhisheks008 commented on #28
@muskaan04 sorry for replying so late. Tell me the brief approach with the models you gonna use.

[2022-10-06 13:47] abhisheks008 opened #144 "Adverse Weather Synthetic Segmentation"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Adverse Weather Synthetic Segmentation</br>
:red_circle: **Aim** : Create a DL model for segmenting the adverse weather synthetic condition.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/abdulrahmankerim/semantic-segmentation-under-adverse-conditions</br>
:red_circle: **Approach** : Try

[2022-10-06 13:53] abhisheks008 opened #148 "Pistol Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Pistol Detection</br>
:red_circle: **Aim** : Create a DL model to identify the pistols.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/vaibhavtalekar/pistol-classification</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to

[2022-10-06 13:54] abhisheks008 opened #149 "Lemon Quality Segmentation"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Lemon Quality Segmentation</br>
:red_circle: **Aim** : Create a DL model for detecting the quality of the lemons.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/yusufemir/lemon-quality-dataset</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare

[2022-10-06 13:57] abhisheks008 opened #152 "Smiling Face Recognition"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Smiling Face Recognition</br>
:red_circle: **Aim** : Create a DL model which will recognize the smiling faces.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/chazzer/smiling-or-not-face-data</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare al

[2022-10-06 13:59] abhisheks008 opened #153 "Kashmiri Apple Plant Disease Detection"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Kashmiri Apple Plant Disease Detection</br>
:red_circle: **Aim** : Create a DL model which will identify the Kashmiri Apple Plant Disease.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/hsmcaju/d-kap</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and c

[2022-10-06 14:00] abhisheks008 opened #154 "Bundesliga Video Classification"
### Deep Learning Simplified Repository (Proposing new issue)
:red_circle: **Project Title** : Bundesliga Video Classification</br>
:red_circle: **Aim** : Create a DL model which will identify the videos from the german top tier football league Bundesliga.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/alejopaullier/dfl-clips</br>
:red_circle: **Approach** : Try to use 3-4 algorit

[2022-10-11 07:03] uuuuju commented on #70
Need a week or two.. Just reached college

On Tue, 30 Aug 2022, 12:55 Abhishek Sharma, ***@***.***>
wrote:

--
The information contained in this electronic communication is intended
solely for the individual(s) or entity to which it is addressed. It may
contain proprietary, confidential and/or legally privileged information.
Any review, retransmission, dissemination, printing, copying or other use

[2022-10-11 16:50] abhisheks008 commented on #70
The program has ended @uuuuju. If wanna contribute here as a contributor you are open to do that, but this will not be a part of any open source program.

[2022-10-12 05:01] Gaurav762 commented on #77
Hey @abhisheks008 I would like to work on this issue.
If no one is working actively on the issue please consider me for this issue.
Full Name: Gaurav Bhoir
GitHub Profile Link : https://github.com/Gaurav762
Email Id: [bhoirgava19it@student.mes.ac.in](mailto:bhoirgava19it@student.mes.ac.in)
Approach for this Project : Using Convolutional Neural Network
Participant role : SSOC 2022

[2022-10-12 05:16] Satyawan7 commented on #77
Yes we are working on it @abhisheks008

[2022-10-12 05:18] chhaviy commented on #152
Full name : Chhavi Yadav
GitHub Profile Link : https://github.com/chhaviy
Participant ID: NA
Approach for this Project: I will use YOLOv2 with CNN as all the labels in the datasets are labeled in YOLO format.

[2022-10-12 05:26] Gaurav762 commented on #77
Hey @abhisheks008 Let me work on this project if you have not assigned anyone for this project.
Full Name: Gaurav Bhoir
GitHub Profile Link : https://github.com/Gaurav762
Email Id: bhoirgava19it@student.mes.ac.in
Approach for this Project : Using Convolutional Neural Network
Participant role : SSOC 2022

[2022-10-12 05:29] narpatchoudhary777 commented on #70
Hey, @abhisheks008
I would like to work on this project. If you haven't assigned this issue to anyone, let me work on this

Full name : Narpat Choudhary
GitHub Profile Link: https://github.com/narpatchoudhary777
Email ID: choudharynama19ie@student.mes.ac.in
Participant ID (if applicable): NA
Approach for this Project: EDA followed by KNN and other models
Contributor: SSOC 202

[2022-10-12 05:35] chhaviy commented on #152
Full name : Chhavi Yadav
GitHub Profile Link : https://github.com/chhaviy
Participant ID: NA
Approach for this Project: I will use Tensorflow, Keras and openCV using CNN to identify human face and to classify it as smiling or not smiling.

[2022-10-12 06:23] ShashwatGaikwad24 commented on #10
Hey @abhisheks008 I would like to work on this project.
If no one is working on this project, let me do this.
Full name : Shashwat Gaikwad
GitHub Profile Link : https://github.com/ShashwatGaikwad24
Email ID : gaikwadshsa19ie@student.mes.ac.in
Approach for this Project : I will use CNN in this project implementation

[2022-10-12 08:13] abhisheks008 commented on #152
Issue assigned to you @chhaviy

[2022-10-12 08:16] abhisheks008 commented on #77
@Satyawan7 the program has been ended up. Hence the issue is unasigned from you. Do you wanna continue with this issue as a contributor, as this contribution will not be a part of the Social Summer of Code.

[2022-10-12 08:17] abhisheks008 commented on #70
I need a confirmation from @uuuuju, otherwise I can't assign issue to @narpatchoudhary777. This will be unethical from the point of view of Open source.

[2022-10-12 08:22] abhisheks008 commented on #85
@KarteyaDhande updates regarding this issue.

[2022-10-12 08:22] abhisheks008 commented on #36
Hey @khushaallll updates regarding this issue.

[2022-10-12 08:22] abhisheks008 commented on #32
@chandinic10 updates regarding this issue.

[2022-10-12 08:24] abhisheks008 commented on #10
Issue assigned to you @ShashwatGaikwad24

[2022-10-12 08:35] Satyawan7 commented on #77
Yes I will continue as a contributor

[2022-10-12 08:37] abhisheks008 commented on #77
Thanks @Satyawan7 for the response. Issue assigned to you @Satyawan7.

@Gaurav762 you can check out other open issues present here in this repo.

[2022-10-12 10:12] khushaallll commented on #36
Yes working on it. Will be done by this weekend

[2022-10-14 08:43] KarteyaDhande commented on #85
yes @abhisheks008 we re currently working on it.

[2022-10-14 09:18] Avishkar30 commented on #51
Full name : Kadu Avishkar Vasant
    GitHub Profile Link : https://github.com/Avishkar30
    Email ID : kaduavva19ie@student.mes.ac.in
    Participant ID (if applicable): na
   Approach for this Project :  I will use Tensorflow, Keras and openCV using CNN to identify emotions and we will classify 7 types
    of emotions

[2022-10-14 15:24] abhisheks008 commented on #85
@KarteyaDhande It's been 20 days you are working on it, any outcomes that you have got?

[2022-10-14 15:24] abhisheks008 commented on #51
Issue assigned to you @Avishkar30

[2022-10-19 12:34] jahenvins commented on #73
Full name : JAHNEVI N S
GitHub Profile Link : https://github.com/jahenvins
Email ID : jahnevi@gmail.com
Approach for this Project : Planning to do pre-processing, EDA and use CNN for classification

[2022-10-19 14:36] abhisheks008 commented on #73
Issue assigned to you @jahenvins. Try to use more algorithms, check those based on the accuracy scores and find out the best fitted one.

[2022-10-19 16:01] Avishkar30 commented on #51
Hello Sir,
We have completed the implementation of project
You can review it on this link :- https://github.com/Avishkar30/Face-Emotion-Recognition

And please tell us what will be further process if required

Thank You

[2022-10-20 04:43] abhisheks008 commented on #51
Please follow the project structure and represent your files properly. You need to create a sub folder as per the issue name. Inside that, there will be three folders, Model, Dataset and Images. Another file will be there named as requirements.txt. Put all the files to their respective folders, then only it'll be a complete one. For your reference you can check out the other projects present here.

[2022-10-22 13:42] 5rushti commented on #61
Full name : Srushti Killarikar
GitHub Profile Link : https://github.com/5rushti
Email ID : [khillarikarsrni19it@student.mes.ac.in](mailto:khillarikarsrni19it@student.mes.ac.in)
Approach for this Project : Planning to do EDA and use SVM, logistic regression, naive bayes etc

[2022-10-22 17:00] abhisheks008 commented on #61
Which issue you wanna work on @5rushti? You can work on one issue at a time.

[2022-10-23 06:18] 5rushti commented on #61
i would like to work on phishing website detection

[2022-10-23 14:55] abhisheks008 commented on #61
Issue assigned to you @5rushti. Use atleast few deep learning algorithms otherwise it'll be a normal machine learning project. You need to focus on deep learning ideas with this dataset.

[2022-10-24 14:49] ShashwatGaikwad24 commented on #10
Thanks! Will start working on it.

[2022-11-17 08:18] abhisheks008 commented on #152
Issue has been un-assigned from you due to inactivity.
@chhaviy

[2022-11-17 08:20] abhisheks008 commented on #32
Issue has been un-assigned from you due to inactivity.
@chandinic10

[2022-11-17 08:40] abhisheks008 commented on #36
Issue has been un-assigned from you due to inactivity.
@khushaallll

[2022-11-17 08:41] abhisheks008 commented on #51
Issue has been un-assigned from you due to inactivity.
@Avishkar30

[2022-11-17 08:43] abhisheks008 commented on #85
Issue has been un-assigned from you due to inactivity.
@KarteyaDhande

[2022-11-17 08:44] abhisheks008 commented on #73
Issue has been un-assigned from you due to inactivity.
@jahenvins

[2022-11-17 08:44] abhisheks008 commented on #61
Issue has been un-assigned from you due to inactivity.
@5rushti